In [2]:
#importing libraries
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')
import time
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import re

**1. Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views**

In [2]:
#Connecting to the driver
driver=webdriver.Chrome(r'C:\Users\Admin\Downloads\chromedriver_win32\chromedriver.exe')

#Maximizing the automated
driver.maximize_window()

#opening the wikipedia website on automated chrome window
url=' https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos'
driver.get(url)

In [49]:
#Extracting Rank
Rank=[]
try:
    rank_tag=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[1]')
    for i in rank_tag:
        Rank.append(i.text)
except NoSuchElementException : #handling no such element exception
    Rank.append('-')

In [50]:
#printing len
len(Rank)

30

In [51]:
#displaying Rank
Rank

['1.',
 '2.',
 '3.',
 '4.',
 '5.',
 '6.',
 '7.',
 '8.',
 '9.',
 '10.',
 '11.',
 '12.',
 '13.',
 '14.',
 '15.',
 '16.',
 '17.',
 '18.',
 '19.',
 '20.',
 '21.',
 '22.',
 '23.',
 '24.',
 '25.',
 '26.',
 '27.',
 '28.',
 '29.',
 '30.']

In [58]:
#Extracting Name
Name=[]
try:
    name_tag=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[2]')
    for i in name_tag:
        Name.append(i.text)
except NoSuchElementException : #handling no such element exception
    Name.append('-')

In [59]:
#printing len
len(Name)

30

In [60]:
#Displaying Name
Name

['"Baby Shark Dance"[4]',
 '"Despacito"[7]',
 '"Johny Johny Yes Papa"[14]',
 '"Shape of You"[15]',
 '"Bath Song"[17]',
 '"See You Again"[18]',
 '"Phonics Song with Two Words"[23]',
 '"Uptown Funk"[24]',
 '"Learning Colors – Colorful Eggs on a Farm"[25]',
 '"Wheels on the Bus"[26]',
 '"Gangnam Style"[27]',
 '"Masha and the Bear – Recipe for Disaster"[32]',
 '"Dame Tu Cosita"[33]',
 '"Sugar"[34]',
 '"Roar"[35]',
 '"Counting Stars"[36]',
 '"Axel F"[37]',
 '"Sorry"[38]',
 '"Thinking Out Loud"[39]',
 '"Baa Baa Black Sheep"[40]',
 '"Dark Horse"[41]',
 '"Faded"[42]',
 '"Girls Like You"[43]',
 '"Let Her Go"[44]',
 '"Waka Waka (This Time for Africa)"[45]',
 '"Perfect"[46]',
 '"Bailando"[47]',
 '"Lean On"[48]',
 '"Humpty the train on a fruits ride"[49]',
 '"Shake It Off"[50]']

In [61]:
#Extracting Artist
Artist=[]
try:
    artist_tag=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[3]')
    for i in artist_tag:
        Artist.append(i.text)
except NoSuchElementException : #handling no such element exception
    Artist.append('-')

In [62]:
#printing len
len(Artist)

30

In [63]:
#Displaying Artist
Artist

["Pinkfong Baby Shark - Kids' Songs & Stories",
 'Luis Fonsi',
 'LooLoo Kids',
 'Ed Sheeran',
 'Cocomelon – Nursery Rhymes',
 'Wiz Khalifa',
 'ChuChu TV',
 'Mark Ronson',
 'Miroshka TV',
 'Cocomelon – Nursery Rhymes',
 'Psy',
 'Get Movies',
 'El Chombo',
 'Maroon 5',
 'Katy Perry',
 'OneRepublic',
 'Crazy Frog',
 'Justin Bieber',
 'Ed Sheeran',
 'Cocomelon – Nursery Rhymes',
 'Katy Perry',
 'Alan Walker',
 'Maroon 5',
 'Passenger',
 'Shakira',
 'Ed Sheeran',
 'Enrique Iglesias',
 'Major Lazer',
 'Kiddiestv Hindi – Nursery Rhymes & Kids Songs',
 'Taylor Swift']

In [64]:
#Extracting Upload_date
Upload_date=[]
try:
    upload_date_tag=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[5]')
    for i in upload_date_tag:
        Upload_date.append(i.text)
except NoSuchElementException : #handling no such element exception
    Upload_date.append('-')

In [65]:
#printing len
len(Upload_date)

30

In [66]:
#Displaying Date
Upload_date

['June 17, 2016',
 'January 12, 2017',
 'October 8, 2016',
 'January 30, 2017',
 'May 2, 2018',
 'April 6, 2015',
 'March 6, 2014',
 'November 19, 2014',
 'February 27, 2018',
 'May 24, 2018',
 'July 15, 2012',
 'January 31, 2012',
 'April 5, 2018',
 'January 14, 2015',
 'September 5, 2013',
 'May 31, 2013',
 'June 16, 2009',
 'October 22, 2015',
 'October 7, 2014',
 'June 25, 2018',
 'February 20, 2014',
 'December 3, 2015',
 'May 31, 2018',
 'July 25, 2012',
 'June 4, 2010',
 'November 9, 2017',
 'April 11, 2014',
 'March 22, 2015',
 'January 26, 2018',
 'August 18, 2014']

In [67]:
#Extracting Rank
Views=[]
try:
    Views_tag=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[4]')
    for i in Views_tag:
        Views.append(i.text)
except NoSuchElementException : #handling no such element exception
    Views.append('-')

In [75]:
#printing len
len(Views)

30

In [76]:
#Displaying Views
Views

['11.74',
 '8.01',
 '6.53',
 '5.85',
 '5.77',
 '5.70',
 '5.02',
 '4.76',
 '4.73',
 '4.63',
 '4.61',
 '4.51',
 '4.14',
 '3.78',
 '3.69',
 '3.68',
 '3.61',
 '3.61',
 '3.52',
 '3.43',
 '3.40',
 '3.37',
 '3.35',
 '3.34',
 '3.31',
 '3.30',
 '3.30',
 '3.29',
 '3.23',
 '3.23']

In [73]:
#Making DataFrame
Most_Viewed_Videos=pd.DataFrame()
Most_Viewed_Videos['Rank']=Rank
Most_Viewed_Videos['Name']=Name
Most_Viewed_Videos['Artist']=Artist
Most_Viewed_Videos['Upload Date']=Upload_date
Most_Viewed_Videos['Views']=Views
Most_Viewed_Videos

,Rank,Name,Artist,Upload Date,Views
0,1.,"""Baby Shark Dance""[4]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",11.74
1,2.,"""Despacito""[7]",Luis Fonsi,"January 12, 2017",8.01
2,3.,"""Johny Johny Yes Papa""[14]",LooLoo Kids,"October 8, 2016",6.53
3,4.,"""Shape of You""[15]",Ed Sheeran,"January 30, 2017",5.85
4,5.,"""Bath Song""[17]",Cocomelon – Nursery Rhymes,"May 2, 2018",5.77
5,6.,"""See You Again""[18]",Wiz Khalifa,"April 6, 2015",5.70
6,7.,"""Phonics Song with Two Words""[23]",ChuChu TV,"March 6, 2014",5.02
7,8.,"""Uptown Funk""[24]",Mark Ronson,"November 19, 2014",4.76
8,9.,"""Learning Colors – Colorful Eggs on a Farm""[25]",Miroshka TV,"February 27, 2018",4.73
9,10.,"""Wheels on the Bus""[26]",Cocomelon – Nursery Rhymes,"May 24, 2018",4.63
10,11.,"""Gangnam Style""[27]",Psy,"July 15, 2012",4.61
11,12.,"""Masha and the Bear – Recipe for Disaster""[32]",Get Movies,"January 31, 2012",4.51
12,13.,"""Dame Tu Cosita""[33]",El Chombo,"April 5, 2018",4.14
13,14.,"""Sugar""[34]",Maroon 5,"January 14, 2015",3.78
14,15.,"""Roar""[35]",Katy Perry,"September 5, 2013",3.69
15,16.,"""Counting Stars""[36]",OneRepublic,"May 31, 2013",3.68
16,17.,"""Axel F""[37]",Crazy Frog,"June 16, 2009",3.61
17,18.,"""Sorry""[38]",Justin Bieber,"October 22, 2015",3.61
18,19.,"""Thinking Out Loud""[39]",Ed Sheeran,"October 7, 2014",3.52
19,20.,"""Baa Baa Black Sheep""[40]",Cocomelon – Nursery Rhymes,"June 25, 2018",3.43
20,21.,"""Dark Horse""[41]",Katy Perry,"February 20, 2014",3.40
21,22.,"""Faded""[42]",Alan Walker,"December 3, 2015",3.37
22,23.,"""Girls Like You""[43]",Maroon 5,"May 31, 2018",3.35
23,24.,"""Let Her Go""[44]",Passenger,"July 25, 2012",3.34
24,25.,"""Waka Waka (This Time for Africa)""[45]",Shakira,"June 4, 2010",3.31
25,26.,"""Perfect""[46]",Ed Sheeran,"November 9, 2017",3.30
26,27.,"""Bailando""[47]",Enrique Iglesias,"April 11, 2014",3.30
27,28.,"""Lean On""[48]",Major Lazer,"March 22, 2015",3.29
28,29.,"""Humpty the train on a fruits ride""[49]",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,"January 26, 2018",3.23
29,30.,"""Shake It Off""[50]",Taylor Swift,"August 18, 2014",3.23

In [77]:
#Closing the Driver
driver.close()

**2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1
st ODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.**

In [3]:
#Connecting to the driver
driver=webdriver.Chrome(r'C:\Users\Admin\Downloads\chromedriver_win32\chromedriver.exe')

#Maximizing the automated
driver.maximize_window()

#opening the bcci website on automated chrome window
url='https://www.bcci.tv/'
driver.get(url)

In [6]:
#creating empty list
url=[]
#Extracting URLS
try:
    url_tags=driver.find_elements(By.XPATH,'/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a')
    for i in url_tags:
        url.append(i.get_attribute('href'))
except NoSuchElementException : #handling no such element exception
    url.append('-')

In [7]:
#printing len
len(url)

1

In [8]:
#Displaying url
url

['https://www.bcci.tv/international/fixtures']

In [9]:
#clicking on international
international=driver.find_element(By.XPATH,"/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a")
international.click()

In [10]:
#clicking on all categories
all_categories=driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div/div/div/div[2]/div[2]/div/div[1]/div")
all_categories.click()

In [11]:
#clicking on Men
men=driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div/div/div/div[2]/div[2]/div/div[1]/div/div[2]/div[2]")
men.click()

In [14]:
#clicking on all teams
all_teams=driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div/div/div/div[2]/div[2]/div/div[4]/div/div[1]")
all_teams.click()

In [15]:
#clicking bangladesh
bangladesh=driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div/div/div/div[2]/div[2]/div/div[4]/div/div[2]/div[3]")
bangladesh.click()

In [26]:
#Creating empty list
Match_Title=[]

#Extracting match title
for i in url:
    driver.get(i)
    time.sleep(10)
    try:
        Match_Title_tags=driver.find_elements(By.XPATH,'//span[@class="matchOrderText ng-binding ng-scope"]')
        for j in Match_Title_tags:
            Match_Title.append(j.text)
    except NoSuchElementException : #handling no such element exception
        Match_Title.append('--')

In [27]:
#printing len
len(Match_Title)

4

In [28]:
#Displaying Match title
Match_Title

['2nd ODI -', '3rd ODI -', '1st Test -', '2nd Test -']

In [32]:
#Creating empty list
Series=[]

#Extracting series
for i in url:
    driver.get(i)
    time.sleep(10)
    try:
        Series_tags=driver.find_elements(By.XPATH,'//div[@class="fixture-card-top"]//h5[2]/span')
        for j in Series_tags:
            Series.append(j.text)
    except NoSuchElementException : #handling no such element exception
        Series.append('--')

In [34]:
#Printing len
len(Series)

4

In [35]:
#Displaying series
Series

['INDIA TOUR OF BANGLADESH ODI SERIES 2022-23',
 'INDIA TOUR OF BANGLADESH ODI SERIES 2022-23',
 'INDIA TOUR OF BANGLADESH TEST SERIES 2022-23',
 'INDIA TOUR OF BANGLADESH TEST SERIES 2022-23']

In [48]:
#Creating empty list
Place=[]

#Extracting place
for i in url:
    driver.get(i)
    time.sleep(10)
    try:
        Place_tags=driver.find_elements(By.XPATH,'//div[@class="fix-place ng-binding ng-scope"]')
        for j in Place_tags:
            Place.append(j.text.split(" ")[-1:])
    except NoSuchElementException : #handling no such element exception
        Place.append('--')

In [49]:
#Printing len
len(Place)

4

In [50]:
#Displaying Date
Place

[['Dhaka'], ['Chattogram'], ['Chattogram'], ['Dhaka']]

In [51]:
#Creating empty list
Date=[]

#Extracting Date
for i in url:
    driver.get(i)
    time.sleep(10)
    try:
        Date_tags=driver.find_elements(By.XPATH,'//div[@class="match-card-left match-schedule"]/h5')
        for j in Date_tags:
            Date.append(j.text)
    except NoSuchElementException : #handling no such element exception
        Date.append('--')

In [52]:
#Extracting len
len(Date)

4

In [53]:
#Displaying Date
Date

['7 DEC 2022', '10 DEC 2022', '14 DEC 2022', '22 DEC 2022']

In [64]:
#Creating empty list
Time=[]

#Extracting time
for i in url:
    driver.get(i)
    time.sleep(10)
    try:
        Time_tags=driver.find_elements(By.XPATH,'//div[@class="match-card-right match-schedule "]/h5')
        for j in Time_tags:
            Time.append(j.text)
    except NoSuchElementException : #handling no such element exception
        Time.append('--')

In [65]:
#Printing len
len(Time)

4

In [66]:
#Displaying time
Time

['LIVE', '11:30 AM IST', '9:30 AM IST', '9:30 AM IST']

In [67]:
#making dataframe
bcci=pd.DataFrame()
bcci['Match Title']=Match_Title
bcci['Series']=Series
bcci['Place']=Place
bcci['Date']=Date
bcci['Time']=Time
bcci

,Match Title,Series,Place,Date,Time
0,2nd ODI -,INDIA TOUR OF BANGLADESH ODI SERIES 2022-23,[Dhaka],7 DEC 2022,LIVE
1,3rd ODI -,INDIA TOUR OF BANGLADESH ODI SERIES 2022-23,[Chattogram],10 DEC 2022,11:30 AM IST
2,1st Test -,INDIA TOUR OF BANGLADESH TEST SERIES 2022-23,[Chattogram],14 DEC 2022,9:30 AM IST
3,2nd Test -,INDIA TOUR OF BANGLADESH TEST SERIES 2022-23,[Dhaka],22 DEC 2022,9:30 AM IST

In [68]:
#closing the driver
driver.close()

**3. Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description
Note: - From guru99 home page you have to reach to selenium exception handling page through code.**

In [3]:
#Connecting to the driver
driver=webdriver.Chrome(r'C:\Users\Admin\Downloads\chromedriver_win32\chromedriver.exe')

#Maximizing the automated
driver.maximize_window()

#opening the guru99 website on automated chrome window
url='https://www.guru99.com/'
driver.get(url)

In [5]:
#Finding web element for search job bar
search_job=driver.find_element(By.ID,"gsc-i-id1")
search_job.send_keys('selenium exception handling')

In [6]:
#Clicking using absolute function
search_btn=driver.find_element(By.XPATH,"/html/body/div[1]/div/div/div/main/div/article/div/div[1]/div[1]/div[2]/div/div[1]/div/div/div/form/table/tbody/tr/td[2]/button")
search_btn.click()

In [7]:
#clicking on selenium exception handling types
selenium=driver.find_element(By.XPATH,"/html/body/div[1]/div/div/div/main/div/article/div/div[1]/div[1]/div[2]/div/div[1]/div/div/div/div[1]/div[6]/div[2]/div/div/div[1]/div[1]/div[1]/div[1]/div/a")
selenium.click()

In [8]:
#creating empty list
url=[]
#Extracting URLS
try:
    url_tags=driver.find_elements(By.XPATH,'/html/body/div[1]/div/div/div/main/div/article/div/div[1]/div[1]/div[2]/div/div[1]/div/div/div/div[1]/div[6]/div[2]/div/div/div[1]/div[1]/div[1]/div[1]/div/a')
    for i in url_tags:
        url.append(i.get_attribute('href'))
except NoSuchElementException : #handling no such element exception
    url.append('-')

In [9]:
#Printing len
len(url)

1

In [10]:
#Displaying URL
url

['https://www.guru99.com/exception-handling-selenium.html']

In [27]:
#Creating empty list
Name=[]

#Extracting name
for i in url:
    driver.get(i)
    time.sleep(2)
    try:
        name_tags=driver.find_elements(By.XPATH,'/html/body/div[1]/div/div/div/main/div/article/div/div/p/strong')
        for j in name_tags:
            Name.append(j.text)
    except NoSuchElementException : #handling no such element exception
        Name.append('--')

In [28]:
#Printing len
len(Name)

47

In [29]:
#Displaying Name
Name[:41]

['1. ElementNotVisibleException:',
 '2. ElementNotSelectableException:',
 '3. NoSuchElementException:',
 '4. NoSuchFrameException:',
 '5. NoAlertPresentException:',
 '6. NoSuchWindowException:',
 '7. StaleElementReferenceException:',
 '8. SessionNotFoundException:',
 '9. TimeoutException:',
 '10. WebDriverException:',
 '11. ConnectionClosedException:',
 '12. ElementClickInterceptedException:',
 '13. ElementNotInteractableException:',
 '14. ErrorInResponseException:',
 '15. ErrorHandler.UnknownServerException:',
 '16. ImeActivationFailedException:',
 '17. ImeNotAvailableException:',
 '18. InsecureCertificateException:',
 '19. InvalidArgumentException:',
 '20. InvalidCookieDomainException:',
 '21. InvalidCoordinatesException:',
 '22. InvalidElementStateException:',
 '23. InvalidSessionIdException:',
 '24. InvalidSwitchToTargetException:',
 '25. JavascriptException:',
 '26. JsonException:',
 '27. NoSuchAttributeException:',
 '28. MoveTargetOutOfBoundsException:',
 '29. NoSuchContextException:',
 '30. NoSuchCookieException:',
 '31. NotFoundException:',
 '32. RemoteDriverServerException:',
 '33. ScreenshotException:',
 '34. SessionNotCreatedException:',
 '35. UnableToSetCookieException:',
 '36. UnexpectedTagNameException:',
 '37. UnhandledAlertException:',
 '38. UnexpectedAlertPresentException:',
 '39. UnknownMethodException:',
 '40. UnreachableBrowserException:',
 '41. UnsupportedCommandException:']

In [24]:
#Creating empty list
Description=[]

#Extracting description
for i in url:
    driver.get(i)
    time.sleep(2)
    try:
        description_tags=driver.find_elements(By.XPATH,'//div[@class="entry-content single-content"]/p')
        for j in description_tags:
            Description.append(j.text.split(":")[1:])
    except NoSuchElementException : #handling no such element exception
        Description.append('--')

In [25]:
#Printing len
len(Description)

53

In [26]:
#Displaying Description
Description[:41]

[[' This type of Selenium exception occurs when an existing element in DOM has a feature set as hidden.'],
 [' This Selenium exception occurs when an element is presented in the DOM, but you can be able to select. Therefore, it is not possible to interact.'],
 [' This Exception occurs if an element could not be found.'],
 [' This Exception occurs if the frame target to be switched to does not exist.'],
 [' This Exception occurs when you switch to no presented alert.'],
 [' This Exception occurs if the window target to be switch does not exist.'],
 [' This Selenium exception occurs happens when the web element is detached from the current DOM.'],
 [' The WebDriver is acting after you quit the browser.'],
 [' Thrown when there is not enough time for a command to be completed. For Example, the element searched wasn’t found in the specified time.'],
 [' This Exception takes place when the WebDriver is acting right after you close the browser.'],
 [' This type of Exception takes place when there is a disconnection in the driver.'],
 [' The command may not be completed as the element receiving the events is concealing the element which was requested clicked.'],
 [' This Selenium exception is thrown when any element is presented in the DOM. However, it is impossible to interact with such an element.'],
 [' This happens while interacting with the Firefox extension or the remote driver server.'],
 [' Exception is used as a placeholder in case if the server returns an error without a stack trace.'],
 [' This expectation will occur when IME engine activation has failed.'],
 [' It takes place when IME support is unavailable.'],
 [' Navigation made the user agent to hit a certificate warning. This can cause by an invalid or expired TLS certificate.'],
 [' It occurs when an argument does not belong to the expected type.'],
 [' This happens when you try to add a cookie under a different domain instead of current URL.'],
 [' This type of Exception matches an interacting operation that is not valid.'],
 [' It occurs when command can’t be finished when the element is invalid.'],
 [' This Exception took place when the given session ID is not included in the list of active sessions. It means the session does not exist or is inactive either.'],
 [' This occurs when the frame or window target to be switched does not exist.'],
 [' This issue occurs while executing JavaScript given by the user.'],
 [' It occurs when you afford to get the session when the session is not created.'],
 [' This kind of Exception occurs when the attribute of an element could not be found.'],
 [' It takes place if the target provided to the ActionChains move() methodology is not valid. For Example, out of the document.'],
 [' ContextAware does mobile device testing.'],
 [' This Exception occurs when no cookie matching with the given pathname found for all the associated cookies of the currently browsing document.'],
 [' This Exception is a subclass of WebDriverException. This will occur when an element on the DOM does not exist.'],
 [' This Selenium exception is thrown when the server is not responding because of the problem that the capabilities described are not proper.'],
 [' It is not possible to capture a screen.'],
 [' It happens when a new session could not be successfully created.'],
 [' This occurs if a driver is unable to set a cookie.'],
 [' Happens if a support class did not get a web element as expected.'],
 [' This expectation occurs when there is an alert, but WebDriver is not able to perform Alert operation.'],
 [' It occurs when there is the appearance of an unexpected alert.'],
 [' This Exception happens when the requested command matches with a known URL but and not matching with a methodology for a specific URL.'],
 [' This Exception occurs only when the browser is not able to be opened or crashed because of some reason.'],
 [' This occurs when remote WebDriver doesn’t send valid commands as expected.']]

In [32]:
#Making Dataframe
selenium=pd.DataFrame()
selenium['Name']=Name[:41]
selenium['Description']=Description[:41]
selenium

,Name,Description
0,1. ElementNotVisibleException:,[ This type of Selenium exception occurs when ...
1,2. ElementNotSelectableException:,[ This Selenium exception occurs when an eleme...
2,3. NoSuchElementException:,[ This Exception occurs if an element could no...
3,4. NoSuchFrameException:,[ This Exception occurs if the frame target to...
4,5. NoAlertPresentException:,[ This Exception occurs when you switch to no ...
5,6. NoSuchWindowException:,[ This Exception occurs if the window target t...
6,7. StaleElementReferenceException:,[ This Selenium exception occurs happens when ...
7,8. SessionNotFoundException:,[ The WebDriver is acting after you quit the b...
8,9. TimeoutException:,[ Thrown when there is not enough time for a c...
9,10. WebDriverException:,[ This Exception takes place when the WebDrive...
10,11. ConnectionClosedException:,[ This type of Exception takes place when ther...
11,12. ElementClickInterceptedException:,[ The command may not be completed as the elem...
12,13. ElementNotInteractableException:,[ This Selenium exception is thrown when any e...
13,14. ErrorInResponseException:,[ This happens while interacting with the Fire...
14,15. ErrorHandler.UnknownServerException:,[ Exception is used as a placeholder in case i...
15,16. ImeActivationFailedException:,[ This expectation will occur when IME engine ...
16,17. ImeNotAvailableException:,[ It takes place when IME support is unavailab...
17,18. InsecureCertificateException:,[ Navigation made the user agent to hit a cert...
18,19. InvalidArgumentException:,[ It occurs when an argument does not belong t...
19,20. InvalidCookieDomainException:,[ This happens when you try to add a cookie un...
20,21. InvalidCoordinatesException:,[ This type of Exception matches an interactin...
21,22. InvalidElementStateException:,[ It occurs when command can’t be finished whe...
22,23. InvalidSessionIdException:,[ This Exception took place when the given ses...
23,24. InvalidSwitchToTargetException:,[ This occurs when the frame or window target ...
24,25. JavascriptException:,[ This issue occurs while executing JavaScript...
25,26. JsonException:,[ It occurs when you afford to get the session...
26,27. NoSuchAttributeException:,[ This kind of Exception occurs when the attri...
27,28. MoveTargetOutOfBoundsException:,[ It takes place if the target provided to the...
28,29. NoSuchContextException:,[ ContextAware does mobile device testing.]
29,30. NoSuchCookieException:,[ This Exception occurs when no cookie matchin...
30,31. NotFoundException:,[ This Exception is a subclass of WebDriverExc...
31,32. RemoteDriverServerException:,[ This Selenium exception is thrown when the s...
32,33. ScreenshotException:,[ It is not possible to capture a screen.]
33,34. SessionNotCreatedException:,[ It happens when a new session could not be s...
34,35. UnableToSetCookieException:,[ This occurs if a driver is unable to set a c...
35,36. UnexpectedTagNameException:,[ Happens if a support class did not get a web...
36,37. UnhandledAlertException:,[ This expectation occurs when there is an ale...
37,38. UnexpectedAlertPresentException:,[ It occurs when there is the appearance of an...
38,39. UnknownMethodException:,[ This Exception happens when the requested co...
39,40. UnreachableBrowserException:,[ This Exception occurs only when the browser ...
40,41. UnsupportedCommandException:,[ This occurs when remote WebDriver doesn’t se...

In [33]:
#closing the driver
driver.close()

**4. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP(18-19)- at current prices
D) GSDP(19-20)- at current prices
E) Share(18-19)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through cod**

In [26]:
#Connecting to the driver
driver=webdriver.Chrome(r'C:\Users\Admin\Downloads\chromedriver_win32\chromedriver.exe')

#Maximizing the automated
driver.maximize_window()

#opening the statewise website on automated chrome window
url='http://statisticstimes.com/ '
driver.get(url)

In [27]:
#clicking on economy
economy=driver.find_element(By.XPATH,"/html/body/div[2]/div[1]/div[2]/div[2]")
economy.click()

In [28]:
#clicking on india
india=driver.find_element(By.XPATH,"//div[@class='dropdown'][2]/div/a[3]")
india.click()

In [30]:
#clicking on close button to put off the pop out
india_gdp=driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div[2]/ul/li[1]/a")
india_gdp.click()

In [194]:
#creating empty list
url=[]
#Extracting URLS
try:
    url_tags=driver.find_elements(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
    for i in url_tags:
        url.append(i.get_attribute('href'))
except NoSuchElementException : #handling no such element exception
    url.append('-')

In [195]:
#Printing len
len(url)

1

In [196]:
#Displaying url
url

['https://www.statisticstimes.com/economy/india/indian-states-gdp.php']

In [197]:
#Creating empty list
Rank=[]

#Extracting Rank
for i in url:
    driver.get(i)
    time.sleep(2)
    try:
        rank_tags=driver.find_elements(By.XPATH,'//td[@class="data1"]')
        for j in rank_tags:
            Rank.append(j.text)
    except NoSuchElementException : #handling no such element exception
        Rank.append('--')

In [198]:
#Printing len
len(Rank)

68

In [200]:
#Displaying Rank
Rank[:33]

['1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '28',
 '29',
 '30',
 '31',
 '32',
 '33']

In [201]:
#Creating empty list
State=[]

#Extracting state
for i in url:
    driver.get(i)
    time.sleep(2)
    try:
        state_tags=driver.find_elements(By.XPATH,'//td[@class="name"]')
        for j in state_tags:
            State.append(j.text)
    except NoSuchElementException : #handling no such element exception
        State.append('--')

In [202]:
#Printing len
len(State)

68

In [204]:
#Displaying State
State[:33]

['Maharashtra',
 'Tamil Nadu',
 'Uttar Pradesh',
 'Gujarat',
 'Karnataka',
 'West Bengal',
 'Rajasthan',
 'Andhra Pradesh',
 'Telangana',
 'Madhya Pradesh',
 'Kerala',
 'Delhi',
 'Haryana',
 'Bihar',
 'Punjab',
 'Odisha',
 'Assam',
 'Chhattisgarh',
 'Jharkhand',
 'Uttarakhand',
 'Jammu & Kashmir',
 'Himachal Pradesh',
 'Goa',
 'Tripura',
 'Chandigarh',
 'Puducherry',
 'Meghalaya',
 'Sikkim',
 'Manipur',
 'Nagaland',
 'Arunachal Pradesh',
 'Mizoram',
 'Andaman & Nicobar Islands']

In [205]:
#Creating empty list
GSDP_18_19=[]

#Extracting GSDP 18-19
for i in url:
    driver.get(i)
    time.sleep(2)
    try:
        GSDP_18_19_TAGS=driver.find_elements(By.XPATH,'//td[@class="data sorting_1"]')
        for j in GSDP_18_19_TAGS:
            GSDP_18_19.append(j.text)
    except NoSuchElementException : #handling no such element exception
        GSDP_18_19.append('--')

In [206]:
#Printing len
len(GSDP_18_19)

66

In [207]:
#Displaying gsdp 18-19
GSDP_18_19[:33]

['2,632,792',
 '1,630,208',
 '1,584,764',
 '1,502,899',
 '1,493,127',
 '1,089,898',
 '942,586',
 '862,957',
 '861,031',
 '809,592',
 '781,653',
 '774,870',
 '734,163',
 '530,363',
 '526,376',
 '487,805',
 '315,881',
 '304,063',
 '297,204',
 '245,895',
 '155,956',
 '153,845',
 '73,170',
 '49,845',
 '42,114',
 '34,433',
 '33,481',
 '28,723',
 '27,870',
 '27,283',
 '24,603',
 '22,287',
 '-']

In [226]:
#Creating empty list
GSDP_19_20=[]

#Extracting GSDP 19-20
for i in url:
    driver.get(i)
    time.sleep(2)
    try:
        GSDP_19_20_tags=driver.find_elements(By.XPATH,'//div[@class="dataTables_wrapper"]/table/tbody/tr/td[3]')
        for j in GSDP_19_20_tags:
            GSDP_19_20.append(j.text)
    except NoSuchElementException : #handling no such element exception
        GSDP_19_20.append('--')

In [227]:
#Printing len
len(GSDP_19_20)

66

In [229]:
#Displaying GSDP 19-20
GSDP_19_20[:33]

['-',
 '1,845,853',
 '1,687,818',
 '-',
 '1,631,977',
 '1,253,832',
 '1,020,989',
 '972,782',
 '969,604',
 '906,672',
 '-',
 '856,112',
 '831,610',
 '611,804',
 '574,760',
 '521,275',
 '-',
 '329,180',
 '328,598',
 '-',
 '-',
 '165,472',
 '80,449',
 '55,984',
 '-',
 '38,253',
 '36,572',
 '32,496',
 '31,790',
 '-',
 '-',
 '26,503',
 '-']

In [230]:
#Creating empty list
SHARE_18_19=[]

#Extracting SHARE 18-19
for i in url:
    driver.get(i)
    time.sleep(2)
    try:
        SHARE_18_19_tags=driver.find_elements(By.XPATH,'//div[@class="dataTables_wrapper"]/table/tbody/tr/td[5]')
        for j in SHARE_18_19_tags:
            SHARE_18_19.append(j.text)
    except NoSuchElementException : #handling no such element exception
        SHARE_18_19.append('--')

In [231]:
#Printing len
len(SHARE_18_19)

66

In [233]:
#Displaying share 18-19
SHARE_18_19[:33]

['13.94%',
 '8.63%',
 '8.39%',
 '7.96%',
 '7.91%',
 '5.77%',
 '4.99%',
 '4.57%',
 '4.56%',
 '4.29%',
 '4.14%',
 '4.10%',
 '3.89%',
 '2.81%',
 '2.79%',
 '2.58%',
 '1.67%',
 '1.61%',
 '1.57%',
 '1.30%',
 '0.83%',
 '0.81%',
 '0.39%',
 '0.26%',
 '0.22%',
 '0.18%',
 '0.18%',
 '0.15%',
 '0.15%',
 '0.14%',
 '0.13%',
 '0.12%',
 '-']

In [234]:
#Creating empty list
GDP=[]

#Extracting GDP
for i in url:
    driver.get(i)
    time.sleep(2)
    try:
        GDP_tags=driver.find_elements(By.XPATH,'//div[@class="dataTables_wrapper"]/table/tbody/tr/td[6]')
        for j in GDP_tags:
            GDP.append(j.text)
    except NoSuchElementException : #handling no such element exception
        GDP.append('--')

In [235]:
#Printing len
len(GDP)

66

In [236]:
#Displaying GDP
GDP[:33]

['399.921',
 '247.629',
 '240.726',
 '228.290',
 '226.806',
 '165.556',
 '143.179',
 '131.083',
 '130.791',
 '122.977',
 '118.733',
 '117.703',
 '111.519',
 '80.562',
 '79.957',
 '74.098',
 '47.982',
 '46.187',
 '45.145',
 '37.351',
 '23.690',
 '23.369',
 '11.115',
 '7.571',
 '6.397',
 '5.230',
 '5.086',
 '4.363',
 '4.233',
 '4.144',
 '3.737',
 '3.385',
 '-']

In [238]:
#Making dataframe
INDIA_GDP=pd.DataFrame()
INDIA_GDP['Rank']=Rank[:33]
INDIA_GDP['State']=State[:33]
INDIA_GDP['GSDP 18-19']=GSDP_18_19[:33]
INDIA_GDP['GSDP 19-20']=GSDP_19_20[:33]
INDIA_GDP['SHARE 18-19']=SHARE_18_19[:33]
INDIA_GDP['GDP']=GDP[:33]
INDIA_GDP

   Rank                      State GSDP 18-19 GSDP 19-20 SHARE 18-19      GDP
0     1                Maharashtra  2,632,792          -      13.94%  399.921
1     2                 Tamil Nadu  1,630,208  1,845,853       8.63%  247.629
2     3              Uttar Pradesh  1,584,764  1,687,818       8.39%  240.726
3     4                    Gujarat  1,502,899          -       7.96%  228.290
4     5                  Karnataka  1,493,127  1,631,977       7.91%  226.806
5     6                West Bengal  1,089,898  1,253,832       5.77%  165.556
6     7                  Rajasthan    942,586  1,020,989       4.99%  143.179
7     8             Andhra Pradesh    862,957    972,782       4.57%  131.083
8     9                  Telangana    861,031    969,604       4.56%  130.791
9    10             Madhya Pradesh    809,592    906,672       4.29%  122.977
10   11                     Kerala    781,653          -       4.14%  118.733
11   12                      Delhi    774,870    856,112       4.10%  117.703
12   13                    Haryana    734,163    831,610       3.89%  111.519
13   14                      Bihar    530,363    611,804       2.81%   80.562
14   15                     Punjab    526,376    574,760       2.79%   79.957
15   16                     Odisha    487,805    521,275       2.58%   74.098
16   17                      Assam    315,881          -       1.67%   47.982
17   18               Chhattisgarh    304,063    329,180       1.61%   46.187
18   19                  Jharkhand    297,204    328,598       1.57%   45.145
19   20                Uttarakhand    245,895          -       1.30%   37.351
20   21            Jammu & Kashmir    155,956          -       0.83%   23.690
21   22           Himachal Pradesh    153,845    165,472       0.81%   23.369
22   23                        Goa     73,170     80,449       0.39%   11.115
23   24                    Tripura     49,845     55,984       0.26%    7.571
24   25                 Chandigarh     42,114          -       0.22%    6.397
25   26                 Puducherry     34,433     38,253       0.18%    5.230
26   27                  Meghalaya     33,481     36,572       0.18%    5.086
27   28                     Sikkim     28,723     32,496       0.15%    4.363
28   29                    Manipur     27,870     31,790       0.15%    4.233
29   30                   Nagaland     27,283          -       0.14%    4.144
30   31          Arunachal Pradesh     24,603          -       0.13%    3.737
31   32                    Mizoram     22,287     26,503       0.12%    3.385
32   33  Andaman & Nicobar Islands          -          -           -        -

In [239]:
#Closing the driver
driver.close()

**5. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used
Note: - From the home page you have to click on the trending option from Explore menu through code**

In [31]:
#Connecting to the driver
driver=webdriver.Chrome(r'C:\Users\Admin\Downloads\chromedriver_win32\chromedriver.exe')

#Maximizing the automated
driver.maximize_window()

#opening the GITHUB website on automated chrome window
url='https://github.com/'
driver.get(url)

In [32]:
#clicking on open source
open_source=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button")
open_source.click()

In [33]:
#clicking on trending
trending=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/ul[3]/li[3]/a")
trending.click()

In [34]:
#extracting url
url=[]
try:
    url_tags=driver.find_elements(By.XPATH,'//h1[@class="h3 lh-condensed"]/a')
    for i in url_tags:
        url.append(i.get_attribute('href'))
except NoSuchElementException : #handling no such element exception
    url.append('-')

In [35]:
#Printing len
len(url)

25

In [36]:
#Displaying url
url

['https://github.com/invoke-ai/InvokeAI',
 'https://github.com/apple/ml-stable-diffusion',
 'https://github.com/AleoHQ/snarkOS',
 'https://github.com/misskey-dev/misskey',
 'https://github.com/Klipper3d/klipper',
 'https://github.com/PKUFlyingPig/cs-self-learning',
 'https://github.com/danielgross/whatsapp-gpt',
 'https://github.com/hehonghui/awesome-english-ebooks',
 'https://github.com/Visualize-ML/Book4_Power-of-Matrix',
 'https://github.com/thangchung/go-coffeeshop',
 'https://github.com/monicahq/monica',
 'https://github.com/coolsnowwolf/lede',
 'https://github.com/Bogdanp/awesome-advent-of-code',
 'https://github.com/palera1n/palera1n',
 'https://github.com/t3-oss/create-t3-app',
 'https://github.com/maplecool/easytrojan',
 'https://github.com/openai/openai-quickstart-node',
 'https://github.com/microsoft/PowerToys',
 'https://github.com/evrone/go-clean-template',
 'https://github.com/openzfs/zfs',
 'https://github.com/recloudstream/cloudstream',
 'https://github.com/fspoettel/advent-of-code-rust',
 'https://github.com/getify/You-Dont-Know-JS',
 'https://github.com/openai/openai-quickstart-python',
 'https://github.com/linebender/xilem']

In [37]:
#extracting repository title
title=[]
try:
    title_tags=driver.find_elements(By.XPATH,'//h1[@class="h3 lh-condensed"]')
    for i in title_tags:
        title.append(i.text.split("/")[1])
except NoSuchElementException : #handling no such element exception
        title.append('--')

In [38]:
#Printing len
len(title)

25

In [39]:
#Displaying title
title

[' InvokeAI',
 ' ml-stable-diffusion',
 ' snarkOS',
 ' misskey',
 ' klipper',
 ' cs-self-learning',
 ' whatsapp-gpt',
 ' awesome-english-ebooks',
 ' Book4_Power-of-Matrix',
 ' go-coffeeshop',
 ' monica',
 ' lede',
 ' awesome-advent-of-code',
 ' palera1n',
 ' create-t3-app',
 ' easytrojan',
 ' openai-quickstart-node',
 ' PowerToys',
 ' go-clean-template',
 ' zfs',
 ' cloudstream',
 ' advent-of-code-rust',
 ' You-Dont-Know-JS',
 ' openai-quickstart-python',
 ' xilem']

In [40]:
#extracting repository description
description=[]
try:
    description_tags=driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')
    for i in description_tags:
        description.append(i.text)
except NoSuchElementException : #handling no such element exception
        description.append('--')

In [41]:
#Printing len
len(description)

24

In [42]:
#Displaying description
description

['This version of Stable Diffusion features a slick WebGUI, an interactive command-line script that combines text2img and img2img functionality in a "dream bot" style interface, and multiple features and other enhancements. For more info, see the website link below.',
 'Stable Diffusion with Core ML on Apple Silicon',
 'A Decentralized Operating System for ZK Applications',
 '🌎 An interplanetary microblogging platform 🚀',
 'Klipper is a 3d-printer firmware',
 '计算机自学指南',
 '经济学人(含音频)、纽约客、卫报、连线、大西洋月刊等英语杂志免费下载,支持epub、mobi、pdf格式, 每周更新',
 'Book_4_《矩阵力量》 | 鸢尾花书：从加减乘除到机器学习；本册有，584幅图，81个代码文件，其中18个Streamlit App；状态：清华社五审五校中；Github稿件基本稳定，欢迎提意见，会及时修改',
 '☕ A practical event-driven microservices demo built with Golang. Nomad, Consul Connect, Vault, and Terraform for deployment',
 'Personal CRM. Remember everything about your friends, family and business relationships.',
 "Lean's LEDE source",
 'A collection of awesome resources related to the yearly Advent of Code challenge.',
 'iOS 15.0-15.7.1 (semi-)tethered checkm8 "jailbreak"',
 'The best way to start a full-stack, typesafe Next.js app',
 '世界上最简单的Trojan部署脚本，仅需一行命令即可搭建一台代理服务器',
 'Node.js example app from the OpenAI API quickstart tutorial',
 'Windows system utilities to maximize productivity',
 'Clean Architecture template for Golang services',
 'OpenZFS on Linux and FreeBSD',
 'Android app for streaming and downloading Movies, TV-Series and Anime.',
 '🎄Starter template for solving Advent of Code in Rust.',
 'A book series on JavaScript. @YDKJS on twitter.',
 'Python example app from the OpenAI API quickstart tutorial',
 'An experimental Rust native UI framework']

In [43]:
#Creating empty list
contributors_count=[]

#extracting contributors count
for i in url:
    driver.get(i)
    time.sleep(2)
    try:
        contributors_count_tags=driver.find_elements(By.XPATH,'//ul[@class="list-style-none d-flex flex-wrap mb-n2"]//img')
        for j in contributors_count_tags:
            contributors_count.append(j.get_attribute("src"))
    except NoSuchElementException : #handling no such element exception
        contributors_count.append('--')

In [44]:
#Printing len
len(contributors_count)

170

In [45]:
#Displaying contributors count
contributors_count

['https://avatars.githubusercontent.com/u/111189?s=64&v=4',
 'https://avatars.githubusercontent.com/u/40327258?s=64&v=4',
 'https://avatars.githubusercontent.com/u/4822129?s=64&v=4',
 'https://avatars.githubusercontent.com/u/3865161?s=64&v=4',
 'https://avatars.githubusercontent.com/u/54517381?s=64&v=4',
 'https://avatars.githubusercontent.com/u/844287?s=64&v=4',
 'https://avatars.githubusercontent.com/u/3804335?s=64&v=4',
 'https://avatars.githubusercontent.com/u/760674?s=64&v=4',
 'https://avatars.githubusercontent.com/u/1653598?s=64&v=4',
 'https://avatars.githubusercontent.com/u/337875?s=64&v=4',
 'https://avatars.githubusercontent.com/u/1947631?s=64&v=4',
 'https://avatars.githubusercontent.com/u/9260812?s=64&v=4',
 'https://avatars.githubusercontent.com/u/14917648?s=64&v=4',
 'https://avatars.githubusercontent.com/u/3750347?s=64&v=4',
 'https://avatars.githubusercontent.com/u/13221615?s=64&v=4',
 'https://avatars.githubusercontent.com/u/8600837?s=64&v=4',
 'https://avatars.githubusercontent.com/u/16715212?s=64&v=4',
 'https://avatars.githubusercontent.com/in/2141?s=64&v=4',
 'https://avatars.githubusercontent.com/u/17802178?s=64&v=4',
 'https://avatars.githubusercontent.com/u/30194392?s=64&v=4',
 'https://avatars.githubusercontent.com/in/29110?s=64&v=4',
 'https://avatars.githubusercontent.com/u/1212355?s=64&v=4',
 'https://avatars.githubusercontent.com/u/4439005?s=64&v=4',
 'https://avatars.githubusercontent.com/in/505?s=64&v=4',
 'https://avatars.githubusercontent.com/u/30769358?s=64&v=4',
 'https://avatars.githubusercontent.com/u/10798641?s=64&v=4',
 'https://avatars.githubusercontent.com/u/20679825?s=64&v=4',
 'https://avatars.githubusercontent.com/u/7973572?s=64&v=4',
 'https://avatars.githubusercontent.com/in/2141?s=64&v=4',
 'https://avatars.githubusercontent.com/u/20990607?s=64&v=4',
 'https://avatars.githubusercontent.com/u/1774242?s=64&v=4',
 'https://avatars.githubusercontent.com/u/15062473?s=64&v=4',
 'https://avatars.githubusercontent.com/u/17036990?s=64&v=4',
 'https://avatars.githubusercontent.com/u/3004890?s=64&v=4',
 'https://avatars.githubusercontent.com/u/9563098?s=64&v=4',
 'https://avatars.githubusercontent.com/u/53491797?s=64&v=4',
 'https://avatars.githubusercontent.com/u/1433580?s=64&v=4',
 'https://avatars.githubusercontent.com/u/4352664?s=64&v=4',
 'https://avatars.githubusercontent.com/u/15083013?s=64&v=4',
 'https://avatars.githubusercontent.com/u/344673?s=64&v=4',
 'https://avatars.githubusercontent.com/u/5533994?s=64&v=4',
 'https://avatars.githubusercontent.com/u/1090063?s=64&v=4',
 'https://avatars.githubusercontent.com/u/13139373?s=64&v=4',
 'https://avatars.githubusercontent.com/u/24904289?s=64&v=4',
 'https://avatars.githubusercontent.com/u/60659728?s=64&v=4',
 'https://avatars.githubusercontent.com/u/15178800?s=64&v=4',
 'https://avatars.githubusercontent.com/u/40034814?s=64&v=4',
 'https://avatars.githubusercontent.com/u/50735120?s=64&v=4',
 'https://avatars.githubusercontent.com/u/42030331?s=64&v=4',
 'https://avatars.githubusercontent.com/u/53425593?s=64&v=4',
 'https://avatars.githubusercontent.com/u/36813942?s=64&v=4',
 'https://avatars.githubusercontent.com/u/38343778?s=64&v=4',
 'https://avatars.githubusercontent.com/u/49035217?s=64&v=4',
 'https://avatars.githubusercontent.com/u/2456440?s=64&v=4',
 'https://avatars.githubusercontent.com/u/98503280?s=64&v=4',
 'https://avatars.githubusercontent.com/u/25419741?s=64&v=4',
 'https://avatars.githubusercontent.com/in/29110?s=64&v=4',
 'https://avatars.githubusercontent.com/in/2141?s=64&v=4',
 'https://avatars.githubusercontent.com/u/61099?s=64&v=4',
 'https://avatars.githubusercontent.com/u/40141970?s=64&v=4',
 'https://avatars.githubusercontent.com/u/21129642?s=64&v=4',
 'https://avatars.githubusercontent.com/in/505?s=64&v=4',
 'https://avatars.githubusercontent.com/u/3653818?s=64&v=4',
 'https://avatars.githubusercontent.com/u/19733683?s=64&v=4',
 'https://avatars.githubusercontent.com/in/4706?s=64&v=4',
 'https://avatars.githubusercontent.com/u/71518487?s=64&v=4',
 'https://avatars.githubusercontent.com/u/31687149?s=64&v=4',
 'https://avatars.githubusercontent.com/u/42570690?s=64&v=4',
 'https://avatars.githubusercontent.com/u/70857188?s=64&v=4',
 'https://avatars.githubusercontent.com/u/9948313?s=64&v=4',
 'https://avatars.githubusercontent.com/u/22235437?s=64&v=4',
 'https://avatars.githubusercontent.com/u/92633080?s=64&v=4',
 'https://avatars.githubusercontent.com/u/2918873?s=64&v=4',
 'https://avatars.githubusercontent.com/u/10708466?s=64&v=4',
 'https://avatars.githubusercontent.com/u/16359027?s=64&v=4',
 'https://avatars.githubusercontent.com/u/534822?s=64&v=4',
 'https://avatars.githubusercontent.com/u/94471752?s=64&v=4',
 'https://avatars.githubusercontent.com/u/43347?s=64&v=4',
 'https://avatars.githubusercontent.com/u/65916846?s=64&v=4',
 'https://avatars.githubusercontent.com/u/1736154?s=64&v=4',
 'https://avatars.githubusercontent.com/u/16900547?s=64&v=4',
 'https://avatars.githubusercontent.com/u/1920621?s=64&v=4',
 'https://avatars.githubusercontent.com/u/1478102?s=64&v=4',
 'https://avatars.githubusercontent.com/u/1545692?s=64&v=4',
 'https://avatars.githubusercontent.com/u/1856425?s=64&v=4',
 'https://avatars.githubusercontent.com/u/11148519?s=64&v=4',
 'https://avatars.githubusercontent.com/u/25284325?s=64&v=4',
 'https://avatars.githubusercontent.com/u/220836?s=64&v=4',
 'https://avatars.githubusercontent.com/u/18669106?s=64&v=4',
 'https://avatars.githubusercontent.com/u/87825638?s=64&v=4',
 'https://avatars.githubusercontent.com/u/84083936?s=64&v=4',
 'https://avatars.githubusercontent.com/u/56302322?s=64&v=4',
 'https://avatars.githubusercontent.com/u/42699250?s=64&v=4',
 'https://avatars.githubusercontent.com/u/482367?s=64&v=4',
 'https://avatars.githubusercontent.com/u/54530346?s=64&v=4',
 'https://avatars.githubusercontent.com/u/95927318?s=64&v=4',
 'https://avatars.githubusercontent.com/u/1138433?s=64&v=4',
 'https://avatars.githubusercontent.com/u/12292530?s=64&v=4',
 'https://avatars.githubusercontent.com/u/15067741?s=64&v=4',
 'https://avatars.githubusercontent.com/u/51714798?s=64&v=4',
 'https://avatars.githubusercontent.com/u/95541290?s=64&v=4',
 'https://avatars.githubusercontent.com/u/8353666?s=64&v=4',
 'https://avatars.githubusercontent.com/u/37516851?s=64&v=4',
 'https://avatars.githubusercontent.com/in/15368?s=64&v=4',
 'https://avatars.githubusercontent.com/u/89210438?s=64&v=4',
 'https://avatars.githubusercontent.com/u/6751787?s=64&v=4',
 'https://avatars.githubusercontent.com/u/68690233?s=64&v=4',
 'https://avatars.githubusercontent.com/u/63950637?s=64&v=4',
 'https://avatars.githubusercontent.com/u/88448390?s=64&v=4',
 'https://avatars.githubusercontent.com/u/10283686?s=64&v=4',
 'https://avatars.githubusercontent.com/u/1462282?s=64&v=4',
 'https://avatars.githubusercontent.com/u/1169912?s=64&v=4',
 'https://avatars.githubusercontent.com/u/1725475?s=64&v=4',
 'https://avatars.githubusercontent.com/u/26427004?s=64&v=4',
 'https://avatars.githubusercontent.com/u/1828123?s=64&v=4',
 'https://avatars.githubusercontent.com/u/3206696?s=64&v=4',
 'https://avatars.githubusercontent.com/u/26118718?s=64&v=4',
 'https://avatars.githubusercontent.com/u/28739210?s=64&v=4',
 'https://avatars.githubusercontent.com/u/9866362?s=64&v=4',
 'https://avatars.githubusercontent.com/u/8949536?s=64&v=4',
 'https://avatars.githubusercontent.com/u/57057282?s=64&v=4',
 'https://avatars.githubusercontent.com/u/55826637?s=64&v=4',
 'https://avatars.githubusercontent.com/u/64327779?s=64&v=4',
 'https://avatars.githubusercontent.com/in/29110?s=64&v=4',
 'https://avatars.githubusercontent.com/u/448040?s=64&v=4',
 'https://avatars.githubusercontent.com/u/1643797?s=64&v=4',
 'https://avatars.githubusercontent.com/u/12367967?s=64&v=4',
 'https://avatars.githubusercontent.com/u/700998?s=64&v=4',
 'https://avatars.githubusercontent.com/u/8356421?s=64&v=4',
 'https://avatars.githubusercontent.com/u/5932933?s=64&v=4',
 'https://avatars.githubusercontent.com/u/148917?s=64&v=4',
 'https://avatars.githubusercontent.com/u/6709544?s=64&v=4',
 'https://avatars.githubusercontent.com/u/5410316?s=64&v=4',
 'https://avatars.githubusercontent.com/u/1386373?s=64&v=4',
 'https://avatars.githubusercontent.com/u/799124?s=64&v=4',
 'https://avatars.githubusercontent.com/u/14172449?s=64&v=4',
 'https://avatars.githubusercontent.com/u/4585738?s=64&v=4',
 'https://avatars.githubusercontent.com/u/1920053?s=64&v=4',
 'https://avatars.githubusercontent.com/u/3868786?s=64&v=4',
 'https://avatars.githubusercontent.com/u/1432005?s=64&v=4',
 'https://avatars.githubusercontent.com/u/320381?s=64&v=4',
 'https://avatars.githubusercontent.com/u/11805592?s=64&v=4',
 'https://avatars.githubusercontent.com/u/46196380?s=64&v=4',
 'https://avatars.githubusercontent.com/u/65916846?s=64&v=4',
 'https://avatars.githubusercontent.com/u/53124886?s=64&v=4',
 'https://avatars.githubusercontent.com/u/18114966?s=64&v=4',
 'https://avatars.githubusercontent.com/u/54625750?s=64&v=4',
 'https://avatars.githubusercontent.com/u/86633626?s=64&v=4',
 'https://avatars.githubusercontent.com/u/110570621?s=64&v=4',
 'https://avatars.githubusercontent.com/u/37908684?s=64&v=4',
 'https://avatars.githubusercontent.com/u/49226282?s=64&v=4',
 'https://avatars.githubusercontent.com/u/80379945?s=64&v=4',
 'https://avatars.githubusercontent.com/u/150330?s=64&v=4',
 'https://avatars.githubusercontent.com/u/3682072?s=64&v=4',
 'https://avatars.githubusercontent.com/u/5736113?s=64&v=4',
 'https://avatars.githubusercontent.com/u/8932386?s=64&v=4',
 'https://avatars.githubusercontent.com/u/1768718?s=64&v=4',
 'https://avatars.githubusercontent.com/u/2958292?s=64&v=4',
 'https://avatars.githubusercontent.com/u/1165138?s=64&v=4',
 'https://avatars.githubusercontent.com/u/2488333?s=64&v=4',
 'https://avatars.githubusercontent.com/u/152130?s=64&v=4',
 'https://avatars.githubusercontent.com/u/2435551?s=64&v=4',
 'https://avatars.githubusercontent.com/u/2614354?s=64&v=4',
 'https://avatars.githubusercontent.com/u/242367?s=64&v=4',
 'https://avatars.githubusercontent.com/u/420008?s=64&v=4',
 'https://avatars.githubusercontent.com/u/25784?s=64&v=4',
 'https://avatars.githubusercontent.com/u/36049421?s=64&v=4',
 'https://avatars.githubusercontent.com/u/951129?s=64&v=4',
 'https://avatars.githubusercontent.com/u/1392222?s=64&v=4',
 'https://avatars.githubusercontent.com/u/6299983?s=64&v=4']

In [49]:
#extracting language used
language_used=[]
try:
    language_used_tags=driver.find_elements(By.XPATH,'//span[@class="d-inline-block ml-0 mr-3"]')
    for i in language_used_tags:
        language_used.append(i.text)
except NoSuchElementException : #handling no such element exception
        language_used.append('-')

In [50]:
#Printing len
len(language_used)

23

In [51]:
#Displaying language used
language_used

['Jupyter Notebook',
 'Python',
 'Rust',
 'TypeScript',
 'C',
 'HTML',
 'Go',
 'CSS',
 'Python',
 'Go',
 'PHP',
 'C',
 'Shell',
 'TypeScript',
 'Shell',
 'JavaScript',
 'C#',
 'Go',
 'C',
 'Kotlin',
 'Rust',
 'CSS',
 'Rust']

In [52]:
#closing the driver
driver.close()

**6. Scrape the details of top 100 songs on billiboard.com.
Url = https:/www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.**

In [53]:
#Connecting to the driver
driver=webdriver.Chrome(r'C:\Users\Admin\Downloads\chromedriver_win32\chromedriver.exe')

#Maximizing the automated
driver.maximize_window()

#opening the billboard website on automated chrome window
url='https:/www.billboard.com/ '
driver.get(url)

In [55]:
#clicking on charts
charts=driver.find_element(By.XPATH,"/html/body/div[3]/div[7]/div/div/div/ul/li[1]/h3/a")
charts.click()

In [60]:
#clicking on hot 100
hot_100=driver.find_element(By.XPATH,"/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[1]/div[1]/div[2]/span/a")
hot_100.click()

In [59]:
#extracting url
url=[]
try:
    url_tags=driver.find_elements(By.XPATH,'/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[1]/div[1]/div[2]/span/a')
    for i in url_tags:
        url.append(i.get_attribute('href'))
except NoSuchElementException : #handling no such element exception
    url.append('-')

In [61]:
#Printing len
len(url)

1

In [62]:
#Displaying url
url

['https://www.billboard.com/charts/hot-100/']

In [63]:
#Creating empty list
song_name=[]

#extracting song name
for i in url:
    driver.get(i)
    time.sleep(2)
    try:
        song_name_tags=driver.find_elements(By.XPATH,'/html/body/div[4]/main/div[2]/div[3]/div/div/div/div[2]/div/ul/li/ul/li[1]/h3')
        for j in song_name_tags:
            song_name.append(j.text)
    except NoSuchElementException : #handling no such element exception
        song_name.append('--')

In [64]:
#Printing len
len(song_name)

100

In [65]:
#Displaying song name
song_name

['Anti-Hero',
 'Rich Flex',
 'Unholy',
 'Bad Habit',
 'All I Want For Christmas Is You',
 "Rockin' Around The Christmas Tree",
 "I'm Good (Blue)",
 'As It Was',
 'Jingle Bell Rock',
 'A Holly Jolly Christmas',
 'Lift Me Up',
 'Die For You',
 'You Proof',
 'Under The Influence',
 'Super Freaky Girl',
 'Cuff It',
 'Something In The Orange',
 'I Like You (A Happier Song)',
 "It's The Most Wonderful Time Of The Year",
 'Wasted On You',
 'Just Wanna Rock',
 'Tomorrow 2',
 'Last Christmas',
 'Made You Look',
 'Vegas',
 'Lavender Haze',
 "I Ain't Worried",
 'Titi Me Pregunto',
 'Wait For U',
 'Major Distribution',
 'Spin Bout U',
 'The Kind Of Love We Make',
 'Sunroof',
 'The Christmas Song (Merry Christmas To You)',
 'Golden Hour',
 'Jimmy Cooks',
 'Circo Loco',
 'She Had Me At Heads Carolina',
 'On BS',
 'Sleigh Ride',
 'Let It Snow, Let It Snow, Let It Snow',
 'Feliz Navidad',
 "It's Beginning To Look A Lot Like Christmas",
 'About Damn Time',
 'Until I Found You',
 'Thank God',
 'Pussy & Millions',
 'Underneath The Tree',
 'Fall In Love',
 'Bejeweled',
 'Hold Me Closer',
 'Midnight Rain',
 'Wait In The Truck',
 'Rock And A Hard Place',
 'What My World Spins Around',
 'Half Of Me',
 'Hotel Lobby (Unc And Phew)',
 'Maroon',
 'Victoria’s Secret',
 "Don't Come Lookin'",
 'Son Of A Sinner',
 'Privileged Rappers',
 'Shirt',
 "Star Walkin' (League Of Legends Worlds Anthem)",
 'Karma',
 'BackOutsideBoyz',
 "You're On Your Own, Kid",
 'Broke Boys',
 'Snow On The Beach',
 'Hours In Silence',
 'Whiskey On You',
 'Romantic Homicide',
 'Vigilante Shit',
 'Free Mind',
 'Billie Eilish.',
 'Break My Heart',
 'Jumbotron Shit Poppin',
 'Question...?',
 'No Se Va',
 'Heyy',
 'California Breeze',
 'Calm Down',
 'Country On',
 'Mastermind',
 'Treacherous Twins',
 'Heart Like A Truck',
 'Pick Me Up',
 'Down In Atlanta',
 'Labyrinth',
 'Freestyle',
 'Miss You',
 'Sweet Nothing',
 'All Mine',
 'La Bachata',
 'Got It Right',
 'Die For You',
 'Down Home',
 'Going, Going, Gone',
 'Middle Of The Ocean',
 'More M’s']

In [66]:
#Creating empty list
artist_name=[]

#extracting artist name
for i in url:
    driver.get(i)
    time.sleep(2)
    try:
        artist_name_tags=driver.find_elements(By.XPATH,'/html/body/div[4]/main/div[2]/div[3]/div/div/div/div[2]/div/ul/li/ul/li[1]/span')
        for j in artist_name_tags:
            artist_name.append(j.text)
    except NoSuchElementException : #handling no such element exception
        artist_name.append('--')

In [67]:
#Printing len
len(artist_name)

100

In [68]:
#Displaying artist name
artist_name

['Taylor Swift',
 'Drake & 21 Savage',
 'Sam Smith & Kim Petras',
 'Steve Lacy',
 'Mariah Carey',
 'Brenda Lee',
 'David Guetta & Bebe Rexha',
 'Harry Styles',
 'Bobby Helms',
 'Burl Ives',
 'Rihanna',
 'The Weeknd',
 'Morgan Wallen',
 'Chris Brown',
 'Nicki Minaj',
 'Beyonce',
 'Zach Bryan',
 'Post Malone Featuring Doja Cat',
 'Andy Williams',
 'Morgan Wallen',
 'Lil Uzi Vert',
 'GloRilla & Cardi B',
 'Wham!',
 'Meghan Trainor',
 'Doja Cat',
 'Taylor Swift',
 'OneRepublic',
 'Bad Bunny',
 'Future Featuring Drake & Tems',
 'Drake & 21 Savage',
 'Drake & 21 Savage',
 'Luke Combs',
 'Nicky Youre & dazy',
 'Nat King Cole',
 'JVKE',
 'Drake Featuring 21 Savage',
 'Drake & 21 Savage',
 'Cole Swindell',
 'Drake & 21 Savage',
 'The Ronettes',
 'Dean Martin',
 'Jose Feliciano',
 'Perry Como And The Fontane Sisters With Mitchell Ayres And His Orchestra',
 'Lizzo',
 'Stephen Sanchez',
 'Kane Brown With Katelyn Brown',
 'Drake & 21 Savage Featuring Travis Scott',
 'Kelly Clarkson',
 'Bailey Zimmerman',
 'Taylor Swift',
 'Elton John & Britney Spears',
 'Taylor Swift',
 'HARDY Featuring Lainey Wilson',
 'Bailey Zimmerman',
 'Jordan Davis',
 'Thomas Rhett Featuring Riley Green',
 'Quavo & Takeoff',
 'Taylor Swift',
 'Jax',
 'Jackson Dean',
 'Jelly Roll',
 'Drake & 21 Savage',
 'SZA',
 'Lil Nas X',
 'Taylor Swift',
 'Drake',
 'Taylor Swift',
 'Drake & 21 Savage',
 'Taylor Swift Featuring Lana Del Rey',
 'Drake & 21 Savage',
 'Nate Smith',
 'd4vd',
 'Taylor Swift',
 'Tems',
 'Armani White',
 'Rod Wave',
 'Drake',
 'Taylor Swift',
 'Grupo Frontera',
 'Lil Baby',
 'Lil Baby',
 'Rema & Selena Gomez',
 'Luke Bryan',
 'Taylor Swift',
 'Drake & 21 Savage',
 'Lainey Wilson',
 'Gabby Barrett',
 'Pharrell Williams & Travis Scott',
 'Taylor Swift',
 'Lil Baby',
 'Oliver Tree & Robin Schulz',
 'Taylor Swift',
 'Brent Faiyaz',
 'Manuel Turizo',
 'Rod Wave',
 'Joji',
 'Jimmie Allen',
 'Luke Combs',
 'Drake',
 'Drake & 21 Savage']

In [75]:
#Creating empty list
last_week_rank=[]

#extracting last week rank
for i in url:
    driver.get(i)
    time.sleep(2)
    try:
        last_week_rank_tags=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[4]/span')
        for j in last_week_rank_tags:
            last_week_rank.append(j.text)
    except NoSuchElementException : #handling no such element exception
        last_week_rank.append('--')

In [76]:
#Printing len
len(last_week_rank)

100

In [77]:
#Displaying last week rank
last_week_rank

['1',
 '2',
 '3',
 '4',
 '25',
 '41',
 '7',
 '5',
 '50',
 '-',
 '8',
 '12',
 '13',
 '17',
 '11',
 '20',
 '19',
 '16',
 '-',
 '23',
 '47',
 '29',
 '-',
 '40',
 '18',
 '21',
 '24',
 '32',
 '30',
 '6',
 '9',
 '36',
 '28',
 '-',
 '42',
 '27',
 '14',
 '31',
 '10',
 '-',
 '-',
 '-',
 '-',
 '38',
 '56',
 '43',
 '15',
 '-',
 '54',
 '35',
 '46',
 '33',
 '51',
 '57',
 '60',
 '53',
 '59',
 '39',
 '61',
 '66',
 '63',
 '22',
 '55',
 '64',
 '45',
 '26',
 '48',
 '34',
 '49',
 '37',
 '74',
 '68',
 '62',
 '75',
 '71',
 '91',
 '52',
 '65',
 '79',
 '78',
 '76',
 '82',
 '85',
 '70',
 '58',
 '86',
 '90',
 '-',
 '73',
 '84',
 '87',
 '77',
 '83',
 '92',
 '-',
 '72',
 '-',
 '99',
 '67',
 '69']

In [78]:
#Creating empty list
peak_rank=[]

#extracting peak rank
for i in url:
    driver.get(i)
    time.sleep(2)
    try:
        peak_rank_tags=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[5]/span')
        for j in peak_rank_tags:
            peak_rank.append(j.text)
    except NoSuchElementException : #handling no such element exception
        peak_rank.append('--')

In [79]:
#Printing len
len(peak_rank)

100

In [80]:
#Displaying peak rank
peak_rank

['1',
 '2',
 '1',
 '1',
 '1',
 '2',
 '7',
 '1',
 '3',
 '4',
 '2',
 '12',
 '5',
 '14',
 '1',
 '13',
 '12',
 '3',
 '5',
 '9',
 '21',
 '9',
 '7',
 '24',
 '10',
 '2',
 '6',
 '5',
 '1',
 '3',
 '5',
 '8',
 '4',
 '11',
 '35',
 '1',
 '8',
 '16',
 '4',
 '10',
 '8',
 '6',
 '12',
 '1',
 '38',
 '22',
 '6',
 '12',
 '29',
 '6',
 '6',
 '5',
 '51',
 '24',
 '41',
 '52',
 '57',
 '3',
 '35',
 '50',
 '31',
 '7',
 '11',
 '32',
 '9',
 '9',
 '8',
 '12',
 '4',
 '11',
 '44',
 '33',
 '10',
 '46',
 '58',
 '76',
 '16',
 '7',
 '57',
 '21',
 '4',
 '74',
 '72',
 '13',
 '14',
 '86',
 '69',
 '88',
 '14',
 '63',
 '84',
 '15',
 '42',
 '67',
 '95',
 '53',
 '88',
 '98',
 '15',
 '18']

In [87]:
#Creating empty list
weaks_on_board=[]

#extracting weeks on board
for i in url:
    driver.get(i)
    time.sleep(2)
    try:
        weaks_on_board_tags=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[6]/span')
        for j in weaks_on_board_tags:
            weaks_on_board.append(j.text)
    except NoSuchElementException : #handling no such element exception
        weaks_on_board.append('--')

In [88]:
#Printing len
len(weaks_on_board)

100

In [89]:
#Displaying weeks on board
weaks_on_board

['5',
 '3',
 '9',
 '21',
 '53',
 '47',
 '13',
 '34',
 '44',
 '27',
 '4',
 '17',
 '28',
 '11',
 '15',
 '15',
 '31',
 '25',
 '28',
 '54',
 '6',
 '9',
 '26',
 '5',
 '25',
 '5',
 '24',
 '29',
 '30',
 '3',
 '3',
 '23',
 '26',
 '33',
 '13',
 '23',
 '3',
 '26',
 '3',
 '17',
 '20',
 '21',
 '13',
 '32',
 '21',
 '11',
 '3',
 '16',
 '30',
 '5',
 '13',
 '5',
 '12',
 '24',
 '15',
 '14',
 '20',
 '5',
 '17',
 '13',
 '21',
 '3',
 '4',
 '9',
 '5',
 '3',
 '5',
 '3',
 '5',
 '3',
 '23',
 '12',
 '5',
 '19',
 '11',
 '2',
 '3',
 '5',
 '9',
 '7',
 '6',
 '12',
 '14',
 '5',
 '3',
 '2',
 '17',
 '1',
 '5',
 '11',
 '5',
 '5',
 '16',
 '14',
 '1',
 '3',
 '4',
 '2',
 '3',
 '3']

In [91]:
#making dataframe
Hot100=pd.DataFrame()
Hot100['Song Name']=song_name
Hot100['Artist Name']=artist_name
Hot100['Last Week Rank']=last_week_rank
Hot100['Peak Rank']=peak_rank
Hot100['Weeks On Board']=weaks_on_board
Hot100

,Song Name,Artist Name,Last Week Rank,Peak Rank,Weeks On Board
0,Anti-Hero,Taylor Swift,1,1,5
1,Rich Flex,Drake & 21 Savage,2,2,3
2,Unholy,Sam Smith & Kim Petras,3,1,9
3,Bad Habit,Steve Lacy,4,1,21
4,All I Want For Christmas Is You,Mariah Carey,25,1,53
...,...,...,...,...,...
95,Die For You,Joji,72,53,3
96,Down Home,Jimmie Allen,-,88,4
97,"Going, Going, Gone",Luke Combs,99,98,2
98,Middle Of The Ocean,Drake,67,15,3
99,More M’s,Drake & 21 Savage,69,18,3

In [92]:
#closing the driver
driver.close()

**7. Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/hr-recruiters-consultants 
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and
click on search. All this should be done through code**

In [69]:
#Connecting to the driver
driver=webdriver.Chrome(r'C:\Users\Admin\Downloads\chromedriver_win32\chromedriver.exe')

#Maximizing the automated
driver.maximize_window()

#opening the naukri website on automated chrome window
url='https://www.naukri.com/hr-recruiters-consultants  '
driver.get(url)

In [74]:
#inserting data science in search bar
search_bar=driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/div/div[1]/div[1]/div[2]/input")
search_bar.send_keys("Data Science")

In [73]:
#clicking on search button
search_button=driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/button")
search_button.click()

In [75]:
#extracting Name
Name=[]
try:
    Name_tags=driver.find_elements(By.XPATH,'//span[@class="fl ellipsis"]')
    for j in Name_tags:
        Name.append(j.text)
except NoSuchElementException : #handling no such element exception
    Name.append('--')

In [76]:
#Printing len
len(Name)

50

In [77]:
#Displaying name
Name

['Aakash Harit',
 'shravan Kumar Gaddam',
 'MARSIAN Technologies LLP',
 'Anik Agrawal',
 'subhas patel',
 'Abhishek - Only Analytics Hiring - India and',
 'Institute for Financial Management and Resear',
 'Balu Ramesh',
 'Asif Lucknowi',
 'InstaFinancials',
 'Kalpana Dumpala',
 'Mubarak',
 'Kushal Rastogi',
 'Mahesh Babu Channa',
 'Vaishnavi Kudalkar',
 'Priyanka Akiri',
 'Kapil Devang',
 'Sakshi Chhikara',
 'Ruchi Dhote',
 'Manisha Yadav',
 'Riya Rajesh',
 'Rashmi Bhattacharjee',
 'Faizan Kareem',
 'Rithika dadwal',
 'Sandhya Khandagale',
 'Shaun Rao',
 'Azahar Shaikh',
 'Manas',
 'kumar',
 'Sunil Vedula',
 'Rajat Kumar',
 'Dhruv Dev Dubey',
 'Jayanth N',
 'Daniel Vaz',
 'Avodha',
 'Priya Khare',
 'Amit Sharma',
 'Kanan',
 'Shashikant Chaudhary',
 'Brad',
 'Rutuja Pawar',
 'Madhusudhan Sridhar',
 'Ankit Sinha',
 'Gaurav Chouhan',
 'Rashi Kacker',
 'Ashwini',
 'Balaji Kolli',
 'Rajani Nagaraj',
 'ROHIT Kumar',
 'Amir Chowdhury']

In [78]:
#extracting Designation
Designation=[]
try:
    Designation_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis clr"]')
    for j in Designation_tags:
        Designation.append(j.text)
except NoSuchElementException : #handling no such element exception
    Designation.append('--')

In [79]:
#Printing len
len(Designation)

50

In [80]:
#Displaying Designation
Designation

['HR Manager',
 'Company Recruiter',
 'Company HR',
 'Company Recruiter',
 'Founder CEO',
 'Recruitment Lead Consultant',
 'Programme Manager',
 'HR Administrator',
 'Director',
 'Human Resource',
 'Executive Hiring',
 'Company HR',
 'Company HR',
 'HR Team Lead',
 'HR Executive',
 'HR Manager',
 'HR Manager',
 'Assistant Manager HR',
 'Senior Executive Talent Acquisition',
 'HR Executive',
 'Manager Talent Acquisition',
 'HR Head',
 'HR MANAGER',
 'HR Recruiter',
 'HR Recruiter',
 'Manager Human Resources',
 'Company Recruiter',
 'Lead Talent acquisition',
 'Proprietor',
 'CEO',
 'Founder CEO',
 'Company Recruitment Head',
 'Project Manager',
 'Partner',
 'Business Development Associate',
 'Senior Manager',
 'Consultant',
 'senior technology instructor',
 'HR Recruiter/HR Excutive',
 'Manager, Technical Recruiting',
 'Technical Recruiter',
 'Erp Implementer',
 'Head Analytics',
 'Chief Technical Officer',
 'Sr Product Manager',
 'Director Global Delivery',
 'Co Founder',
 'HR Manager',
 'Architect',
 'Managing Partner']

In [81]:
#extracting Company
Company=[]
try:
    Company_tags=driver.find_elements(By.XPATH,'//p[@class="highlightable"]//a[2]')
    for j in Company_tags:
        Company.append(j.text)
except NoSuchElementException : #handling no such element exception
    Company.append('--')

In [82]:
#Printing len
len(Company)

50

In [83]:
#Displaying company
Company

['Data Science Network',
 'Shore Infotech India Pvt. Ltd',
 'MARSIAN Technologies LLP',
 'Enerlytics Software Solutions Pvt Ltd',
 'LibraryXProject',
 'Apidel Technologies Division of Transpower',
 'IFMR',
 'Techvantage Systems Pvt Ltd',
 'Weupskill- Live Wire India',
 'CBL Data Science Private Limited',
 'Innominds Software',
 'MoneyTap',
 'QuantMagnum Technologies Pvt. Ltd.',
 'SocialPrachar.com',
 'Codeachive learning',
 'Infinitive Software Solutions',
 'BISP Solutions',
 'BIZ INFOTECNO PRIVATE LIMITED',
 'Bristlecone India Ltd',
 'Easi Tax',
 'Novelworx Digital Solutions',
 'AXESTRACK SOFTWARE SOLUTIONS PRIVATE...',
 'FirstTech Consaltants Pvt.Ltd',
 'Affine Analytics',
 'Compumatrice Multimedia Pvt Ltd',
 'Exela Technologies',
 'NEAL ANALYTICS SERVICES PVT LTD',
 'Autumn Leaf Consulting Services Private...',
 'trainin',
 'Nanoprecise Sci Corp',
 'R.S Consultancy &amp; Services',
 'Confidential',
 'Dollarbird Information Services Pvt, Ltd',
 'Aquis Search',
 'Nikitha Palaparthi',
 'Independent Consultant',
 'ASCO consulting',
 'NY INST',
 '3D India Staffing Research &amp; Consulting...',
 'O.C. Tanner',
 'Demand Matrix',
 'MADHUSUDHAN SRIDHAR',
 'Suntech Global',
 'Strategic Consulting Lab',
 'Impel Labs Pvt. Ltd.',
 'MRP Advisers',
 'Saras Solutions India Pvt Ltd',
 'WildJasmine',
 'LNT Private Limited',
 'Granular.ai']

In [84]:
#extracting Skills they hire for
Skills=[]
try:
    Skills_tags=driver.find_elements(By.XPATH,'//div[@class="hireSec highlightable"]')
    for j in Skills_tags:
        Skills.append(j.text)
except NoSuchElementException : #handling no such element exception
    Skills.append('--')

In [85]:
#Printing len
len(Skills)

50

In [86]:
#Displaying skills
Skills

['Classic ASP Developer, Internet Marketing Professional, Data Science SME, Content Writers, SEO Professional, Revenue Professional',
 '.Net, Java, Data Science, Linux Administration, Sql Server Development, Winforms, Wcf Services, Wpf, Telecom Engineering, Technical Management, Software',
 'Data Science, Artificial Intelligence, Machine Learning, Business Analytics, Deep Learning, statistics, Data Analytics, Data Analysis, support vector machine',
 'Mean Stack, javascript, angularjs, mongodb, Web Services, rest, express, Node.js, Big Data, iot, Data Science, Cloud Computing, saas, Aws',
 'Hadoop, Spark, Digital Strategy, Data Architecture, Command Center, Cdp, Dmp, Kafka, Data Science, Data Analysis, Big Data Analytics, Real Time Analysis, SQL',
 'Analytics, Business Intelligence, Business Analytics, Predictive Modeling, Predictive Analytics, Data Science, Data Analysis, Data Analytics, Big Data, Big',
 'Data Science',
 'Machine Learning, algorithms, Go Getter, Computer Science, spark, Big Data, hdfs, sql, cassandra, hadoop, python, scala, java, Data Science, Front End',
 'Technical Training, Software Development, Presentation Skills, B.tech, M.tech, B.e., mca, msc, Computer Science, freshers, jobs in indore, Data Science, itil',
 'Software Development, It Sales, Account Management, Data Analysis, Customer Service, Sr, Software Engineering, Mvc, Ajax, Asp.net, Html, C#, Javascript',
 'Qa, Ui/ux, Java Developer, Java Architect, C++/qt, Php, Lamp, Api, J2ee, Java, Soa, Esb, Middleware, Bigdata Achitect, Hadoop Architect, Deep',
 'Business Intelligence, Data Warehousing, Data Science, Business Analytics, Customer Support, Business Reporting, Bi',
 'Office Administration, Hr Administration, telecalling, client relationship management, Client Acquisition, Sales, Reception, HR, Recruitment, Onboarding, Human',
 'Social Media, digital media maketing, seo, smm, smo, sem, Content Wirting, social media marketing, social media manager, digital media marketing manager',
 'Data Science, Python, Data Analytics',
 'Oracle Dba, Data Science, Data Warehousing, ETL, Jupyter, Numpy, Data Transformation, Snowflake, Teradata, Python, Data Manipulation, Relational Databases',
 'Big Data, Hadoop, Data Analytics, Data Science',
 'React.js, Data Science, Java, Front End, Business Analytics, Backend, Tableau, Python, Qa Testing, Automation Testing',
 'Qlikview, Qlik Sense, Microsoft Azure, Power Bi, Data Science, Machine Learning',
 'Telecalling, Client Interaction, Marketing, Research, Web Development, Social Media Marketing, Data Entry Operation, Excel, Ms Office, Invoicing',
 'Data Science',
 'Corporate Sales, Software Development, Software Sales, Marketing, Creative Designing, Corporate Planning, Senior Management, Crm, Client Relationship',
 'Data Analytics, Data Science, Machine Learning, Deep Learning, Nlp, Data Mining, Python, R, Database Administration, Text Mining',
 'Data Science, Machine Learning, Python, R, Deep Learning, Big Data, Hadoop',
 'Big Data, Data Science, Artificial Intelligence, Hadoop, Ui Development, Php, Freelancing, .Net, Software Testing, Sap, Leadership Hiring',
 'Java, Net, Angularjs, Hr, Infrastructure, Management, Project Management, Business Analysis, Data Science, Information Technology, Technology',
 'Data Science, Artificial Intelligence, Machine Learning, Data Analytics',
 'Software Architecture, Vp Engineering, Product Management, analytics, Data Science, Node.js, Principal Engineer, Big Data, python, angularjs, React.js',
 'Data Science, Hadoop, Rpas, Devops, Python, Aws, Teaching, Big Data',
 'Signal Processing, Machine Learning, Neural Networks, Data Science, Predictive Analytics, Time Series Analysis, Data Visualization, Technical Leadership, Data',
 'Web Technologies, Project Management, Software Architecture, Data Science, Object Oriented Programming, Computer Science, Electrical Engineering, Architecture',
 'Server Administartion, Verilog, Vhdl, Digital Marketing, Market Research, Property Research, Legal, It And Non It Recruitment, Logistics, Supply Chain, Bfsi',
 'Data Analytics, Managed Services, Team Leading, python, Machine Learning, Google Analytics, Dmp, Aws, Campaign Analytics, Digital Campaigns, Audience',
 'c++, Core Java, kdb, high frequency trading, hft, direct market access, Algorithmic Trading, Quant Development, Market Data, Fpga, Exchange Connectivity',
 'Ethical Hacking, Security Operations Center, SOC, Managed Services, Data Science, Machine Learning, Artificial Intelligence, Operations Research, Education',
 'Data Science, Artificial Intelligence, analytics, Business Intelligence, python, tableau, Power Bi, qlikview, sql, Data Warehousing, Data Visualization',
 'Machine Learning, Artificial Intelligence, Data Science, Software Engineering, Software Development, Graduate Engineer Trainee, Fresher, Data Analytics, Java',
 'C, C++, Artificial Intelligence, Python, Php, Web Development, Matlab, Data Science, Augmented Reality, C C++',
 'Relationship Management, Retail Sales, Private Banking, Mutual Funds, NISM, Equity, Finance, Financial Products, Financial Services, Verbal, Written',
 'Data Science, Software Engineering',
 'Data Science, Big Data Analytics, Digital Marketing, Content Writing, Ui Development, Database Development, Qa Automation, Python, Project Management',
 'Data Science, Recruitment, Salary',
 'B.Tech, Tableau, Statistics, R, Analytics, Time Series, Data Science, Business Solutions, SQL, Technical Skills, SSAS, SQL Server, Analysis Services, Qlikview',
 'Software Development, Business Intelligence, Big Data Analytics, Database Administration, Data Science, Microsoft Azure, Spark, Cassandra, Object Oriented',
 'Data Science, Node.js, Angularjs',
 'Data Science, Media Marketing, Resource Planning, Managed Services, Display Advertising, Machine Learning, Python, Etl, Sql',
 'Data Analysis, Learning, Data Science, Computer Science, Communication Skills',
 'Java, Hadoop, R, Machine Learning, Spark, Flume, Hdfs, Data Mining, Sas, Big, Data Science, Cloudera, Impala, Bigdata',
 'Software Development, Core Java, Unit Testing, Customer Experience, Problem Solving, Communication Skills, Mysql, Data Science, Sales Management, Analytics',
 'Machine Learning, Data Science, Product Management, New Product, Data Analysis, Computer Vision, Deep Learning, Python, Remote Sensing']

In [87]:
#extracting Location
Location=[]
try:
    Location_tags=driver.find_elements(By.XPATH,'//p[@class="highlightable"]/span[2]/small')
    for j in Location_tags:
        Location.append(j.text)
except NoSuchElementException : #handling no such element exception
    Location.append('--')

In [88]:
#Printing len
len(Location)

48

In [89]:
#Displaying location
Location

['Delhi',
 'Hyderabad / Secunderabad',
 'Pune',
 'Ahmedabad',
 'UK - (london)',
 'Vadodara / Baroda',
 'Chennai',
 'Trivandrum',
 'Indore',
 'Bengaluru / Bangalore',
 'Hyderabad / Secunderabad',
 'Bengaluru / Bangalore',
 'Mumbai',
 'Hyderabad / Secunderabad',
 'Mumbai',
 'Hyderabad',
 'Bhopal',
 'Chandigarh',
 'Pune',
 'Navi Mumbai',
 'Cochin',
 'Delhi',
 'Hyderabad / Secunderabad',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Bengaluru / Bangalore',
 'Bengaluru / Bangalore',
 'Delhi',
 'Bengaluru / Bangalore',
 'Mysoru / Mysore',
 'Mumbai',
 'Hyderabad / Secunderabad',
 'Bengaluru / Bangalore',
 'New Delhi',
 'Chennai',
 'Aligarh',
 'Salt Lake City',
 'Pune',
 'Bengaluru / Bangalore',
 'Mumbai',
 'Indore',
 'Bengaluru / Bangalore',
 'MYSORE',
 'Hyderabad / Secunderabad',
 'Bengaluru / Bangalore',
 'Mumbai']

In [90]:
#closing the driver
driver.close()

**8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre**

In [116]:
#Connecting to the driver
driver=webdriver.Chrome(r'C:\Users\Admin\Downloads\chromedriver_win32\chromedriver.exe')

#Maximizing the automated
driver.maximize_window()

#opening the guardian website on automated chrome window
url='https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare'
driver.get(url)

In [117]:
#extracting Book Name
Book_Name=[]
try:
    Book_Name_tags=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[2]')
    for j in Book_Name_tags:
        Book_Name.append(j.text)
except NoSuchElementException : #handling no such element exception
    Book_Name.append('--')

In [118]:
#Printing len
len(Book_Name)

100

In [119]:
#Displaying book name
Book_Name

['Da Vinci Code,The',
 'Harry Potter and the Deathly Hallows',
 "Harry Potter and the Philosopher's Stone",
 'Harry Potter and the Order of the Phoenix',
 'Fifty Shades of Grey',
 'Harry Potter and the Goblet of Fire',
 'Harry Potter and the Chamber of Secrets',
 'Harry Potter and the Prisoner of Azkaban',
 'Angels and Demons',
 "Harry Potter and the Half-blood Prince:Children's Edition",
 'Fifty Shades Darker',
 'Twilight',
 'Girl with the Dragon Tattoo,The:Millennium Trilogy',
 'Fifty Shades Freed',
 'Lost Symbol,The',
 'New Moon',
 'Deception Point',
 'Eclipse',
 'Lovely Bones,The',
 'Curious Incident of the Dog in the Night-time,The',
 'Digital Fortress',
 'Short History of Nearly Everything,A',
 'Girl Who Played with Fire,The:Millennium Trilogy',
 'Breaking Dawn',
 'Very Hungry Caterpillar,The:The Very Hungry Caterpillar',
 'Gruffalo,The',
 "Jamie's 30-Minute Meals",
 'Kite Runner,The',
 'One Day',
 'Thousand Splendid Suns,A',
 "Girl Who Kicked the Hornets' Nest,The:Millennium Trilogy",
 "Time Traveler's Wife,The",
 'Atonement',
 "Bridget Jones's Diary:A Novel",
 'World According to Clarkson,The',
 "Captain Corelli's Mandolin",
 'Sound of Laughter,The',
 'Life of Pi',
 'Billy Connolly',
 'Child Called It,A',
 "Gruffalo's Child,The",
 "Angela's Ashes:A Memoir of a Childhood",
 'Birdsong',
 'Northern Lights:His Dark Materials S.',
 'Labyrinth',
 'Harry Potter and the Half-blood Prince',
 'Help,The',
 'Man and Boy',
 'Memoirs of a Geisha',
 "No.1 Ladies' Detective Agency,The:No.1 Ladies' Detective Agency S.",
 'Island,The',
 'PS, I Love You',
 'You are What You Eat:The Plan That Will Change Your Life',
 'Shadow of the Wind,The',
 'Tales of Beedle the Bard,The',
 'Broker,The',
 "Dr. Atkins' New Diet Revolution:The No-hunger, Luxurious Weight Loss P",
 'Subtle Knife,The:His Dark Materials S.',
 'Eats, Shoots and Leaves:The Zero Tolerance Approach to Punctuation',
 "Delia's How to Cook:(Bk.1)",
 'Chocolat',
 'Boy in the Striped Pyjamas,The',
 "My Sister's Keeper",
 'Amber Spyglass,The:His Dark Materials S.',
 'To Kill a Mockingbird',
 'Men are from Mars, Women are from Venus:A Practical Guide for Improvin',
 'Dear Fatty',
 'Short History of Tractors in Ukrainian,A',
 'Hannibal',
 'Lord of the Rings,The',
 'Stupid White Men:...and Other Sorry Excuses for the State of the Natio',
 'Interpretation of Murder,The',
 'Sharon Osbourne Extreme:My Autobiography',
 'Alchemist,The:A Fable About Following Your Dream',
 "At My Mother's Knee ...:and Other Low Joints",
 'Notes from a Small Island',
 'Return of the Naked Chef,The',
 'Bridget Jones: The Edge of Reason',
 "Jamie's Italy",
 'I Can Make You Thin',
 'Down Under',
 'Summons,The',
 'Small Island',
 'Nigella Express',
 'Brick Lane',
 "Memory Keeper's Daughter,The",
 'Room on the Broom',
 'About a Boy',
 'My Booky Wook',
 'God Delusion,The',
 '"Beano" Annual,The',
 'White Teeth',
 'House at Riverton,The',
 'Book Thief,The',
 'Nights of Rain and Stars',
 'Ghost,The',
 'Happy Days with the Naked Chef',
 'Hunger Games,The:Hunger Games Trilogy',
 "Lost Boy,The:A Foster Child's Search for the Love of a Family",
 "Jamie's Ministry of Food:Anyone Can Learn to Cook in 24 Hours"]

In [120]:
#extracting Author Name
Author_Name=[]
try:
    Author_Name_tags=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[3]')
    for j in Author_Name_tags:
        Author_Name.append(j.text)
except NoSuchElementException : #handling no such element exception
    Author_Name.append('--')

In [121]:
#Printing len
len(Author_Name)

100

In [122]:
#Displaying author name
Author_Name

['Brown, Dan',
 'Rowling, J.K.',
 'Rowling, J.K.',
 'Rowling, J.K.',
 'James, E. L.',
 'Rowling, J.K.',
 'Rowling, J.K.',
 'Rowling, J.K.',
 'Brown, Dan',
 'Rowling, J.K.',
 'James, E. L.',
 'Meyer, Stephenie',
 'Larsson, Stieg',
 'James, E. L.',
 'Brown, Dan',
 'Meyer, Stephenie',
 'Brown, Dan',
 'Meyer, Stephenie',
 'Sebold, Alice',
 'Haddon, Mark',
 'Brown, Dan',
 'Bryson, Bill',
 'Larsson, Stieg',
 'Meyer, Stephenie',
 'Carle, Eric',
 'Donaldson, Julia',
 'Oliver, Jamie',
 'Hosseini, Khaled',
 'Nicholls, David',
 'Hosseini, Khaled',
 'Larsson, Stieg',
 'Niffenegger, Audrey',
 'McEwan, Ian',
 'Fielding, Helen',
 'Clarkson, Jeremy',
 'Bernieres, Louis de',
 'Kay, Peter',
 'Martel, Yann',
 'Stephenson, Pamela',
 'Pelzer, Dave',
 'Donaldson, Julia',
 'McCourt, Frank',
 'Faulks, Sebastian',
 'Pullman, Philip',
 'Mosse, Kate',
 'Rowling, J.K.',
 'Stockett, Kathryn',
 'Parsons, Tony',
 'Golden, Arthur',
 'McCall Smith, Alexander',
 'Hislop, Victoria',
 'Ahern, Cecelia',
 'McKeith, Gillian',
 'Zafon, Carlos Ruiz',
 'Rowling, J.K.',
 'Grisham, John',
 'Atkins, Robert C.',
 'Pullman, Philip',
 'Truss, Lynne',
 'Smith, Delia',
 'Harris, Joanne',
 'Boyne, John',
 'Picoult, Jodi',
 'Pullman, Philip',
 'Lee, Harper',
 'Gray, John',
 'French, Dawn',
 'Lewycka, Marina',
 'Harris, Thomas',
 'Tolkien, J. R. R.',
 'Moore, Michael',
 'Rubenfeld, Jed',
 'Osbourne, Sharon',
 'Coelho, Paulo',
 "O'Grady, Paul",
 'Bryson, Bill',
 'Oliver, Jamie',
 'Fielding, Helen',
 'Oliver, Jamie',
 'McKenna, Paul',
 'Bryson, Bill',
 'Grisham, John',
 'Levy, Andrea',
 'Lawson, Nigella',
 'Ali, Monica',
 'Edwards, Kim',
 'Donaldson, Julia',
 'Hornby, Nick',
 'Brand, Russell',
 'Dawkins, Richard',
 '0',
 'Smith, Zadie',
 'Morton, Kate',
 'Zusak, Markus',
 'Binchy, Maeve',
 'Harris, Robert',
 'Oliver, Jamie',
 'Collins, Suzanne',
 'Pelzer, Dave',
 'Oliver, Jamie']

In [123]:
#extracting Volumes Sold
Volumes_Sold=[]
try:
    Volumes_Sold_tags=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[4]')
    for j in Volumes_Sold_tags:
        Volumes_Sold.append(j.text)
except NoSuchElementException : #handling no such element exception
    Volumes_Sold.append('--')

In [124]:
#Printing len
len(Volumes_Sold)

100

In [125]:
#Displaying volumes sold
Volumes_Sold

['5,094,805',
 '4,475,152',
 '4,200,654',
 '4,179,479',
 '3,758,936',
 '3,583,215',
 '3,484,047',
 '3,377,906',
 '3,193,946',
 '2,950,264',
 '2,479,784',
 '2,315,405',
 '2,233,570',
 '2,193,928',
 '2,183,031',
 '2,152,737',
 '2,062,145',
 '2,052,876',
 '2,005,598',
 '1,979,552',
 '1,928,900',
 '1,852,919',
 '1,814,784',
 '1,787,118',
 '1,783,535',
 '1,781,269',
 '1,743,266',
 '1,629,119',
 '1,616,068',
 '1,583,992',
 '1,555,135',
 '1,546,886',
 '1,539,428',
 '1,508,205',
 '1,489,403',
 '1,352,318',
 '1,310,207',
 '1,310,176',
 '1,231,957',
 '1,217,712',
 '1,208,711',
 '1,204,058',
 '1,184,967',
 '1,181,503',
 '1,181,093',
 '1,153,181',
 '1,132,336',
 '1,130,802',
 '1,126,337',
 '1,115,549',
 '1,108,328',
 '1,107,379',
 '1,104,403',
 '1,092,349',
 '1,090,847',
 '1,087,262',
 '1,054,196',
 '1,037,160',
 '1,023,688',
 '1,015,956',
 '1,009,873',
 '1,004,414',
 '1,003,780',
 '1,002,314',
 '998,213',
 '992,846',
 '986,753',
 '986,115',
 '970,509',
 '967,466',
 '963,353',
 '962,515',
 '959,496',
 '956,114',
 '945,640',
 '931,312',
 '925,425',
 '924,695',
 '906,968',
 '905,086',
 '890,847',
 '869,671',
 '869,659',
 '862,602',
 '856,540',
 '845,858',
 '842,535',
 '828,215',
 '820,563',
 '816,907',
 '816,585',
 '815,586',
 '814,370',
 '809,641',
 '808,900',
 '807,311',
 '794,201',
 '792,187',
 '791,507',
 '791,095']

In [126]:
#extracting Publisher
Publisher=[]
try:
    Publisher_tags=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[5]')
    for j in Publisher_tags:
        Publisher.append(j.text)
except NoSuchElementException : #handling no such element exception
    Publisher.append('--')

In [127]:
#Printing len
len(Publisher)

100

In [128]:
#Displaying publisher
Publisher

['Transworld',
 'Bloomsbury',
 'Bloomsbury',
 'Bloomsbury',
 'Random House',
 'Bloomsbury',
 'Bloomsbury',
 'Bloomsbury',
 'Transworld',
 'Bloomsbury',
 'Random House',
 'Little, Brown Book',
 'Quercus',
 'Random House',
 'Transworld',
 'Little, Brown Book',
 'Transworld',
 'Little, Brown Book',
 'Pan Macmillan',
 'Random House',
 'Transworld',
 'Transworld',
 'Quercus',
 'Little, Brown Book',
 'Penguin',
 'Pan Macmillan',
 'Penguin',
 'Bloomsbury',
 'Hodder & Stoughton',
 'Bloomsbury',
 'Quercus',
 'Random House',
 'Random House',
 'Pan Macmillan',
 'Penguin',
 'Random House',
 'Random House',
 'Canongate',
 'HarperCollins',
 'Orion',
 'Pan Macmillan',
 'HarperCollins',
 'Random House',
 'Scholastic Ltd.',
 'Orion',
 'Bloomsbury',
 'Penguin',
 'HarperCollins',
 'Random House',
 'Little, Brown Book',
 'Headline',
 'HarperCollins',
 'Penguin',
 'Orion',
 'Bloomsbury',
 'Random House',
 'Random House',
 'Scholastic Ltd.',
 'Profile Books Group',
 'Random House',
 'Transworld',
 'Random House Childrens Books G',
 'Hodder & Stoughton',
 'Scholastic Ltd.',
 'Random House',
 'HarperCollins',
 'Random House',
 'Penguin',
 'Random House',
 'HarperCollins',
 'Penguin',
 'Headline',
 'Little, Brown Book',
 'HarperCollins',
 'Transworld',
 'Transworld',
 'Penguin',
 'Pan Macmillan',
 'Penguin',
 'Transworld',
 'Transworld',
 'Random House',
 'Headline',
 'Random House',
 'Transworld',
 'Penguin',
 'Pan Macmillan',
 'Penguin',
 'Hodder & Stoughton',
 'Transworld',
 'D.C. Thomson',
 'Penguin',
 'Pan Macmillan',
 'Transworld',
 'Orion',
 'Random House',
 'Penguin',
 'Scholastic Ltd.',
 'Orion',
 'Penguin']

In [129]:
#extracting Genre
Genre=[]
try:
    Genre_tags=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[6]')
    for j in Genre_tags:
        Genre.append(j.text)
except NoSuchElementException : #handling no such element exception
    Genre.append('--')

In [130]:
#Printing len
len(Genre)

100

In [131]:
#Displaying genre
Genre

['Crime, Thriller & Adventure',
 "Children's Fiction",
 "Children's Fiction",
 "Children's Fiction",
 'Romance & Sagas',
 "Children's Fiction",
 "Children's Fiction",
 "Children's Fiction",
 'Crime, Thriller & Adventure',
 "Children's Fiction",
 'Romance & Sagas',
 'Young Adult Fiction',
 'Crime, Thriller & Adventure',
 'Romance & Sagas',
 'Crime, Thriller & Adventure',
 'Young Adult Fiction',
 'Crime, Thriller & Adventure',
 'Young Adult Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Crime, Thriller & Adventure',
 'Popular Science',
 'Crime, Thriller & Adventure',
 'Young Adult Fiction',
 'Picture Books',
 'Picture Books',
 'Food & Drink: General',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Crime, Thriller & Adventure',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Humour: Collections & General',
 'General & Literary Fiction',
 'Autobiography: General',
 'General & Literary Fiction',
 'Biography: The Arts',
 'Autobiography: General',
 'Picture Books',
 'Autobiography: General',
 'General & Literary Fiction',
 'Young Adult Fiction',
 'General & Literary Fiction',
 'Science Fiction & Fantasy',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Crime, Thriller & Adventure',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Fitness & Diet',
 'General & Literary Fiction',
 "Children's Fiction",
 'Crime, Thriller & Adventure',
 'Fitness & Diet',
 'Young Adult Fiction',
 'Usage & Writing Guides',
 'Food & Drink: General',
 'General & Literary Fiction',
 'Young Adult Fiction',
 'General & Literary Fiction',
 'Young Adult Fiction',
 'General & Literary Fiction',
 'Popular Culture & Media: General Interest',
 'Autobiography: The Arts',
 'General & Literary Fiction',
 'Crime, Thriller & Adventure',
 'Science Fiction & Fantasy',
 'Current Affairs & Issues',
 'Crime, Thriller & Adventure',
 'Autobiography: The Arts',
 'General & Literary Fiction',
 'Autobiography: The Arts',
 'Travel Writing',
 'Food & Drink: General',
 'General & Literary Fiction',
 'National & Regional Cuisine',
 'Fitness & Diet',
 'Travel Writing',
 'Crime, Thriller & Adventure',
 'General & Literary Fiction',
 'Food & Drink: General',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Picture Books',
 'General & Literary Fiction',
 'Autobiography: The Arts',
 'Popular Science',
 "Children's Annuals",
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Food & Drink: General',
 'Young Adult Fiction',
 'Biography: General',
 'Food & Drink: General']

In [132]:
#Making Dataframe
highest_selling_novels=pd.DataFrame()
highest_selling_novels['Book Name']=Book_Name
highest_selling_novels['Author Name']=Author_Name
highest_selling_novels['Volumes Sold']=Volumes_Sold
highest_selling_novels['Publisher']=Publisher
highest_selling_novels['Genre']=Genre
highest_selling_novels

,Book Name,Author Name,Volumes Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [133]:
#closing the driver
driver.close()

**9. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes**

In [95]:
#Connecting to the driver
driver=webdriver.Chrome(r'C:\Users\Admin\Downloads\chromedriver_win32\chromedriver.exe')

#Maximizing the automated
driver.maximize_window()

#opening the imdb website on automated chrome window
url='https://www.imdb.com/list/ls095964455/'
driver.get(url)

In [96]:
#extracting name
Name=[]
try:
    Name_tags=driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]')
    for j in Name_tags:
        Name.append(j.text)
except NoSuchElementException : #handling no such element exception
    Name.append('--')

In [97]:
#Printing len
len(Name)

100

In [98]:
#Displaying name
Name

['1. Game of Thrones (2011–2019)',
 '2. Stranger Things (2016– )',
 '3. The Walking Dead (2010–2022)',
 '4. 13 Reasons Why (2017–2020)',
 '5. The 100 (2014–2020)',
 '6. Orange Is the New Black (2013–2019)',
 '7. Riverdale (2017– )',
 "8. Grey's Anatomy (2005– )",
 '9. The Flash (2014–2023)',
 '10. Arrow (2012–2020)',
 '11. Money Heist (2017–2021)',
 '12. The Big Bang Theory (2007–2019)',
 '13. Black Mirror (2011–2019)',
 '14. Sherlock (2010–2017)',
 '15. Vikings (2013–2020)',
 '16. Pretty Little Liars (2010–2017)',
 '17. The Vampire Diaries (2009–2017)',
 '18. American Horror Story (2011– )',
 '19. Breaking Bad (2008–2013)',
 '20. Lucifer (2016–2021)',
 '21. Supernatural (2005–2020)',
 '22. Prison Break (2005–2017)',
 '23. How to Get Away with Murder (2014–2020)',
 '24. Teen Wolf (2011–2017)',
 '25. The Simpsons (1989– )',
 '26. Once Upon a Time (2011–2018)',
 '27. Narcos (2015–2017)',
 '28. Daredevil (2015–2018)',
 '29. Friends (1994–2004)',
 '30. How I Met Your Mother (2005–2014)',
 '31. Suits (2011–2019)',
 '32. Mr. Robot (2015–2019)',
 '33. The Originals (2013–2018)',
 '34. Supergirl (2015–2021)',
 '35. Gossip Girl (2007–2012)',
 '36. Sense8 (2015–2018)',
 '37. Gotham (2014–2019)',
 '38. Westworld (2016–2022)',
 '39. Jessica Jones (2015–2019)',
 '40. Modern Family (2009–2020)',
 '41. Rick and Morty (2013– )',
 '42. Shadowhunters (2016–2019)',
 '43. The End of the F***ing World (2017–2019)',
 '44. House of Cards (2013–2018)',
 '45. Dark (2017–2020)',
 '46. Elite (2018– )',
 '47. Sex Education (2019– )',
 '48. Shameless (2011–2021)',
 '49. New Girl (2011–2018)',
 '50. Agents of S.H.I.E.L.D. (2013–2020)',
 '51. You (2018– )',
 '52. Dexter (2006–2013)',
 '53. Fear the Walking Dead (2015– )',
 '54. Family Guy (1999– )',
 '55. The Blacklist (2013– )',
 '56. Lost (2004–2010)',
 '57. Peaky Blinders (2013–2022)',
 '58. House (2004–2012)',
 '59. Quantico (2015–2018)',
 '60. Orphan Black (2013–2017)',
 '61. Homeland (2011–2020)',
 '62. Blindspot (2015–2020)',
 "63. DC's Legends of Tomorrow (2016–2022)",
 "64. The Handmaid's Tale (2017– )",
 '65. Chilling Adventures of Sabrina (2018–2020)',
 '66. The Good Doctor (2017– )',
 '67. Jane the Virgin (2014–2019)',
 '68. Glee (2009–2015)',
 '69. South Park (1997– )',
 '70. Brooklyn Nine-Nine (2013–2021)',
 '71. Under the Dome (2013–2015)',
 '72. The Umbrella Academy (2019–2023)',
 '73. True Detective (2014–2019)',
 '74. The OA (2016–2019)',
 '75. Desperate Housewives (2004–2012)',
 '76. Better Call Saul (2015–2022)',
 '77. Bates Motel (2013–2017)',
 '78. The Punisher (2017–2019)',
 '79. Atypical (2017–2021)',
 '80. Dynasty (2017–2022)',
 '81. This Is Us (2016–2022)',
 '82. The Good Place (2016–2020)',
 '83. Iron Fist (2017–2018)',
 '84. The Rain (2018–2020)',
 '85. Mindhunter (2017–2019)',
 '86. Revenge (2011–2015)',
 '87. Luke Cage (2016–2018)',
 '88. Scandal (2012–2018)',
 '89. The Defenders (2017)',
 '90. Big Little Lies (2017–2019)',
 '91. Insatiable (2018–2019)',
 '92. The Mentalist (2008–2015)',
 '93. The Crown (2016– )',
 '94. Chernobyl (2019)',
 '95. iZombie (2015–2019)',
 '96. Reign (2013–2017)',
 '97. A Series of Unfortunate Events (2017–2019)',
 '98. Criminal Minds (2005– )',
 '99. Scream: The TV Series (2015–2019)',
 '100. The Haunting of Hill House (2018)']

In [99]:
#extracting year span
Year_Span=[]
try:
    Year_Span_tags=driver.find_elements(By.XPATH,'//span[@class="lister-item-year text-muted unbold"]')
    for j in Year_Span_tags:
        Year_Span.append(j.text)
except NoSuchElementException : #handling no such element exception
    Year_Span.append('--')

In [100]:
#Printing len
len(Year_Span)

100

In [101]:
#Displaying year span
Year_Span

['(2011–2019)',
 '(2016– )',
 '(2010–2022)',
 '(2017–2020)',
 '(2014–2020)',
 '(2013–2019)',
 '(2017– )',
 '(2005– )',
 '(2014–2023)',
 '(2012–2020)',
 '(2017–2021)',
 '(2007–2019)',
 '(2011–2019)',
 '(2010–2017)',
 '(2013–2020)',
 '(2010–2017)',
 '(2009–2017)',
 '(2011– )',
 '(2008–2013)',
 '(2016–2021)',
 '(2005–2020)',
 '(2005–2017)',
 '(2014–2020)',
 '(2011–2017)',
 '(1989– )',
 '(2011–2018)',
 '(2015–2017)',
 '(2015–2018)',
 '(1994–2004)',
 '(2005–2014)',
 '(2011–2019)',
 '(2015–2019)',
 '(2013–2018)',
 '(2015–2021)',
 '(2007–2012)',
 '(2015–2018)',
 '(2014–2019)',
 '(2016–2022)',
 '(2015–2019)',
 '(2009–2020)',
 '(2013– )',
 '(2016–2019)',
 '(2017–2019)',
 '(2013–2018)',
 '(2017–2020)',
 '(2018– )',
 '(2019– )',
 '(2011–2021)',
 '(2011–2018)',
 '(2013–2020)',
 '(2018– )',
 '(2006–2013)',
 '(2015– )',
 '(1999– )',
 '(2013– )',
 '(2004–2010)',
 '(2013–2022)',
 '(2004–2012)',
 '(2015–2018)',
 '(2013–2017)',
 '(2011–2020)',
 '(2015–2020)',
 '(2016–2022)',
 '(2017– )',
 '(2018–2020)',
 '(2017– )',
 '(2014–2019)',
 '(2009–2015)',
 '(1997– )',
 '(2013–2021)',
 '(2013–2015)',
 '(2019–2023)',
 '(2014–2019)',
 '(2016–2019)',
 '(2004–2012)',
 '(2015–2022)',
 '(2013–2017)',
 '(2017–2019)',
 '(2017–2021)',
 '(2017–2022)',
 '(2016–2022)',
 '(2016–2020)',
 '(2017–2018)',
 '(2018–2020)',
 '(2017–2019)',
 '(2011–2015)',
 '(2016–2018)',
 '(2012–2018)',
 '(2017)',
 '(2017–2019)',
 '(2018–2019)',
 '(2008–2015)',
 '(2016– )',
 '(2019)',
 '(2015–2019)',
 '(2013–2017)',
 '(2017–2019)',
 '(2005– )',
 '(2015–2019)',
 '(2018)']

In [102]:
#extracting genre
Genre=[]
try:
    Genre_tags=driver.find_elements(By.XPATH,'//span[@class="genre"]')
    for j in Genre_tags:
        Genre.append(j.text)
except NoSuchElementException : #handling no such element exception
    Genre.append('--')

In [103]:
#Printing len
len(Genre)

100

In [104]:
#Displaying genre
Genre

['Action, Adventure, Drama',
 'Drama, Fantasy, Horror',
 'Drama, Horror, Thriller',
 'Drama, Mystery, Thriller',
 'Drama, Mystery, Sci-Fi',
 'Comedy, Crime, Drama',
 'Crime, Drama, Mystery',
 'Drama, Romance',
 'Action, Adventure, Drama',
 'Action, Adventure, Crime',
 'Action, Crime, Drama',
 'Comedy, Romance',
 'Drama, Mystery, Sci-Fi',
 'Crime, Drama, Mystery',
 'Action, Adventure, Drama',
 'Drama, Mystery, Romance',
 'Drama, Fantasy, Horror',
 'Drama, Horror, Sci-Fi',
 'Crime, Drama, Thriller',
 'Crime, Drama, Fantasy',
 'Drama, Fantasy, Horror',
 'Action, Crime, Drama',
 'Crime, Drama, Mystery',
 'Action, Drama, Fantasy',
 'Animation, Comedy',
 'Adventure, Fantasy, Romance',
 'Biography, Crime, Drama',
 'Action, Crime, Drama',
 'Comedy, Romance',
 'Comedy, Romance',
 'Comedy, Drama',
 'Crime, Drama, Thriller',
 'Drama, Fantasy, Horror',
 'Action, Adventure, Drama',
 'Drama, Romance',
 'Drama, Mystery, Sci-Fi',
 'Action, Crime, Drama',
 'Drama, Mystery, Sci-Fi',
 'Action, Crime, Drama',
 'Comedy, Drama, Romance',
 'Animation, Adventure, Comedy',
 'Action, Drama, Fantasy',
 'Adventure, Comedy, Crime',
 'Drama',
 'Crime, Drama, Mystery',
 'Crime, Drama, Thriller',
 'Comedy, Drama',
 'Comedy, Drama',
 'Comedy, Romance',
 'Action, Adventure, Drama',
 'Crime, Drama, Romance',
 'Crime, Drama, Mystery',
 'Drama, Horror, Sci-Fi',
 'Animation, Comedy',
 'Crime, Drama, Mystery',
 'Adventure, Drama, Fantasy',
 'Crime, Drama',
 'Drama, Mystery',
 'Crime, Drama, Mystery',
 'Drama, Sci-Fi, Thriller',
 'Crime, Drama, Mystery',
 'Action, Crime, Drama',
 'Action, Adventure, Drama',
 'Drama, Sci-Fi, Thriller',
 'Drama, Fantasy, Horror',
 'Drama',
 'Comedy',
 'Comedy, Drama, Music',
 'Animation, Comedy',
 'Comedy, Crime',
 'Drama, Mystery, Sci-Fi',
 'Action, Adventure, Comedy',
 'Crime, Drama, Mystery',
 'Drama, Fantasy, Mystery',
 'Comedy, Drama, Mystery',
 'Crime, Drama',
 'Drama, Horror, Mystery',
 'Action, Crime, Drama',
 'Comedy, Drama',
 'Drama',
 'Comedy, Drama, Romance',
 'Comedy, Drama, Fantasy',
 'Action, Adventure, Crime',
 'Drama, Sci-Fi, Thriller',
 'Crime, Drama, Mystery',
 'Drama, Mystery, Thriller',
 'Action, Crime, Drama',
 'Drama, Thriller',
 'Action, Adventure, Crime',
 'Crime, Drama, Mystery',
 'Comedy, Drama, Thriller',
 'Crime, Drama, Mystery',
 'Biography, Drama, History',
 'Drama, History, Thriller',
 'Comedy, Crime, Drama',
 'Drama',
 'Adventure, Comedy, Drama',
 'Crime, Drama, Mystery',
 'Comedy, Crime, Drama',
 'Drama, Horror, Mystery']

In [105]:
#extracting Run Time
Run_Time=[]
try:
    Run_Time_tags=driver.find_elements(By.XPATH,'//span[@class="runtime"]')
    for j in Run_Time_tags:
        Run_Time.append(j.text)
except NoSuchElementException : #handling no such element exception
    Run_Time.append('--')

In [106]:
#Printing len
len(Run_Time)

100

In [107]:
#Displaying run time
Run_Time

['57 min',
 '51 min',
 '44 min',
 '60 min',
 '43 min',
 '59 min',
 '45 min',
 '41 min',
 '43 min',
 '42 min',
 '70 min',
 '22 min',
 '60 min',
 '88 min',
 '44 min',
 '44 min',
 '43 min',
 '60 min',
 '49 min',
 '42 min',
 '44 min',
 '44 min',
 '43 min',
 '41 min',
 '22 min',
 '60 min',
 '49 min',
 '54 min',
 '22 min',
 '22 min',
 '44 min',
 '49 min',
 '45 min',
 '43 min',
 '42 min',
 '60 min',
 '42 min',
 '62 min',
 '56 min',
 '22 min',
 '23 min',
 '42 min',
 '25 min',
 '51 min',
 '60 min',
 '60 min',
 '45 min',
 '46 min',
 '22 min',
 '45 min',
 '45 min',
 '53 min',
 '44 min',
 '22 min',
 '43 min',
 '44 min',
 '60 min',
 '44 min',
 '42 min',
 '44 min',
 '55 min',
 '42 min',
 '42 min',
 '60 min',
 '60 min',
 '41 min',
 '60 min',
 '44 min',
 '22 min',
 '22 min',
 '43 min',
 '60 min',
 '55 min',
 '60 min',
 '45 min',
 '46 min',
 '45 min',
 '53 min',
 '30 min',
 '42 min',
 '45 min',
 '22 min',
 '55 min',
 '45 min',
 '60 min',
 '44 min',
 '55 min',
 '43 min',
 '50 min',
 '60 min',
 '45 min',
 '43 min',
 '58 min',
 '330 min',
 '42 min',
 '42 min',
 '50 min',
 '42 min',
 '45 min',
 '572 min']

In [108]:
#extracting Ratings
Ratings=[]
try:
    Ratings_tags=driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/div/div/span[2]')
    for j in Ratings_tags:
        Ratings.append(j.text)
except NoSuchElementException : #handling no such element exception
    Ratings.append('--')

In [109]:
#Printing len
len(Ratings)

100

In [110]:
#Displaying ratings
Ratings

['9.2',
 '8.7',
 '8.1',
 '7.5',
 '7.6',
 '8.1',
 '6.6',
 '7.6',
 '7.6',
 '7.5',
 '8.2',
 '8.2',
 '8.8',
 '9.1',
 '8.5',
 '7.4',
 '7.7',
 '8',
 '9.5',
 '8.1',
 '8.4',
 '8.3',
 '8.1',
 '7.7',
 '8.7',
 '7.7',
 '8.8',
 '8.6',
 '8.9',
 '8.3',
 '8.5',
 '8.6',
 '8.3',
 '6.2',
 '7.5',
 '8.2',
 '7.8',
 '8.5',
 '7.9',
 '8.5',
 '9.1',
 '6.5',
 '8.1',
 '8.7',
 '8.7',
 '7.3',
 '8.4',
 '8.6',
 '7.8',
 '7.5',
 '7.7',
 '8.7',
 '6.8',
 '8.2',
 '8',
 '8.3',
 '8.8',
 '8.7',
 '6.7',
 '8.3',
 '8.3',
 '7.3',
 '6.8',
 '8.4',
 '7.4',
 '8.1',
 '7.9',
 '6.8',
 '8.7',
 '8.4',
 '6.5',
 '7.9',
 '8.9',
 '7.8',
 '7.6',
 '8.9',
 '8.1',
 '8.5',
 '8.3',
 '7.2',
 '8.7',
 '8.2',
 '6.4',
 '6.3',
 '8.6',
 '7.8',
 '7.3',
 '7.7',
 '7.2',
 '8.5',
 '6.5',
 '8.1',
 '8.7',
 '9.4',
 '7.8',
 '7.4',
 '7.8',
 '8.1',
 '7.1',
 '8.6']

In [111]:
#extracting Votes
Votes=[]
try:
    Votes_tags=driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/p[4]/span[2]')
    for j in Votes_tags:
        Votes.append(j.text)
except NoSuchElementException : #handling no such element exception
    Votes.append('--')

In [112]:
#Printing len
len(Votes)

100

In [113]:
#Displaying votes
Votes

['2,089,164',
 '1,178,793',
 '988,385',
 '292,758',
 '251,904',
 '302,839',
 '145,470',
 '308,729',
 '346,268',
 '431,916',
 '475,846',
 '806,877',
 '545,352',
 '923,973',
 '531,485',
 '167,995',
 '322,171',
 '319,509',
 '1,871,491',
 '324,250',
 '445,466',
 '535,139',
 '152,219',
 '148,872',
 '407,381',
 '225,384',
 '421,795',
 '440,719',
 '992,313',
 '682,920',
 '410,712',
 '387,570',
 '136,549',
 '124,405',
 '175,397',
 '154,967',
 '230,904',
 '504,823',
 '215,150',
 '430,438',
 '519,025',
 '64,082',
 '190,714',
 '504,535',
 '384,420',
 '79,516',
 '280,308',
 '243,297',
 '224,978',
 '217,635',
 '240,066',
 '725,275',
 '130,366',
 '339,759',
 '249,645',
 '553,318',
 '545,901',
 '464,718',
 '61,270',
 '111,531',
 '341,956',
 '74,395',
 '105,226',
 '236,800',
 '95,696',
 '95,434',
 '51,110',
 '148,964',
 '369,498',
 '315,944',
 '107,024',
 '248,150',
 '570,134',
 '105,400',
 '129,592',
 '524,704',
 '108,700',
 '236,436',
 '89,389',
 '22,863',
 '144,342',
 '160,559',
 '131,692',
 '37,578',
 '288,542',
 '120,465',
 '131,797',
 '74,307',
 '108,463',
 '199,473',
 '29,099',
 '185,672',
 '216,238',
 '748,143',
 '68,661',
 '50,165',
 '61,423',
 '198,193',
 '41,568',
 '245,104']

In [114]:
#Making dataframe
most_watched_tv_series=pd.DataFrame()
most_watched_tv_series['Name']=Name
most_watched_tv_series['Year Span']=Year_Span
most_watched_tv_series['Genre']=Genre
most_watched_tv_series['Run Time']=Run_Time
most_watched_tv_series['Ratings']=Ratings
most_watched_tv_series['Votes']=Votes
most_watched_tv_series

,Name,Year Span,Genre,Run Time,Ratings,Votes
0,1. Game of Thrones (2011–2019),(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,089,164"
1,2. Stranger Things (2016– ),(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"1,178,793"
2,3. The Walking Dead (2010–2022),(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"988,385"
3,4. 13 Reasons Why (2017–2020),(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"292,758"
4,5. The 100 (2014–2020),(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"251,904"
...,...,...,...,...,...,...
95,96. Reign (2013–2017),(2013–2017),Drama,42 min,7.4,"50,165"
96,97. A Series of Unfortunate Events (2017–2019),(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"61,423"
97,98. Criminal Minds (2005– ),(2005– ),"Crime, Drama, Mystery",42 min,8.1,"198,193"
98,99. Scream: The TV Series (2015–2019),(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"41,568"
99,100. The Haunting of Hill House (2018),(2018),"Drama, Horror, Mystery",572 min,8.6,"245,104"

In [115]:
#closing the driver
driver.close()

**10. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the ShowAllDataset page through code.**

In [134]:
#Connecting to the driver
driver=webdriver.Chrome(r'C:\Users\Admin\Downloads\chromedriver_win32\chromedriver.exe')

#Maximizing the automated
driver.maximize_window()

#opening the archive website on automated chrome window
url=' https://archive.ics.uci.edu/ '
driver.get(url)

In [138]:
#extracting url
url=[]
try:
    url_tags=driver.find_elements(By.XPATH,'/html/body/table[1]/tbody/tr/td[2]/span[2]/a')
    for i in url_tags:
        url.append(i.get_attribute('href'))
except NoSuchElementException : #handling no such element exception
    url.append('-')

In [139]:
#Printing len
len(url)

1

In [140]:
#Displaying url
url

['https://archive.ics.uci.edu/ml/datasets.php']

In [142]:
#clicking on view all data sets
view_all_data_sets=driver.find_element(By.XPATH,"/html/body/table[1]/tbody/tr/td[2]/span[2]/a")
view_all_data_sets.click()

In [143]:
#Creating empty list
Dataset_Name=[]

#Extracting Dataset Name
for i in url:
    driver.get(i)
    time.sleep(2)
    try:
        Dataset_Name_tags=driver.find_elements(By.XPATH,'//p[@class="normal"]/b/a')
        for j in Dataset_Name_tags:
            Dataset_Name.append(j.text)
    except NoSuchElementException : #handling no such element exception
        Dataset_Name.append('--')

In [144]:
#Printing len
len(Dataset_Name)

622

In [168]:
#Displaying Dataset name
Dataset_Name[:10]

['Abalone',
 'Adult',
 'Annealing',
 'Anonymous Microsoft Web Data',
 'Arrhythmia',
 'Artificial Characters',
 'Audiology (Original)',
 'Audiology (Standardized)',
 'Auto MPG',
 'Automobile']

In [158]:
#Creating empty list
Data_Type=[]

#Extracting Data Type
for i in url:
    driver.get(i)
    time.sleep(2)
    try:
        Data_Type_tags=driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]/p')
        for j in Data_Type_tags:
            Data_Type.append(j.text)
    except NoSuchElementException : #handling no such element exception
        Data_Type.append('--')

In [159]:
#Printing len
len(Data_Type)

623

In [167]:
#Displaying data type
Data_Type[1:11]

['Multivariate ',
 'Multivariate ',
 'Multivariate ',
 ' ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ',
 'Multivariate ']

In [161]:
#Creating empty list
Task=[]

#Extracting Task
for i in url:
    driver.get(i)
    time.sleep(2)
    try:
        Task_tags=driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]/p')
        for j in Task_tags:
            Task.append(j.text)
    except NoSuchElementException : #handling no such element exception
        Task.append('--')

In [162]:
#Printing len
len(Task)

623

In [166]:
#Displaying task
Task[1:11]

['Classification ',
 'Classification ',
 'Classification ',
 'Recommender-Systems ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Regression ',
 'Regression ']

In [169]:
#Creating empty list
Attribute_Type=[]

#Extracting Attribute Type
for i in url:
    driver.get(i)
    time.sleep(2)
    try:
        Attribute_Type_tags=driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]/p')
        for j in Attribute_Type_tags:
            Attribute_Type.append(j.text)
    except NoSuchElementException : #handling no such element exception
        Attribute_Type.append('--')

In [170]:
#Printing len
len(Attribute_Type)

623

In [172]:
#Displaying attribute type
Attribute_Type[1:11]

['Categorical, Integer, Real ',
 'Categorical, Integer ',
 'Categorical, Integer, Real ',
 'Categorical ',
 'Categorical, Integer, Real ',
 'Categorical, Integer, Real ',
 'Categorical ',
 'Categorical ',
 'Categorical, Real ',
 'Categorical, Integer, Real ']

In [174]:
#Creating empty list
No_Of_Instances=[]

#Extracting No of Instances
for i in url:
    driver.get(i)
    time.sleep(2)
    try:
        No_Of_Instances_tags=driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]/p')
        for j in No_Of_Instances_tags:
            No_Of_Instances.append(j.text)
    except NoSuchElementException : #handling no such element exception
        No_Of_Instances.append('--')

In [175]:
#Printing len
len(No_Of_Instances)

623

In [177]:
#Displaying no of instances
No_Of_Instances[1:11]

['4177 ',
 '48842 ',
 '798 ',
 '37711 ',
 '452 ',
 '6000 ',
 '226 ',
 '226 ',
 '398 ',
 '205 ']

In [178]:
#Creating empty list
No_Of_Attributes=[]

#Extracting No Of Attributes
for i in url:
    driver.get(i)
    time.sleep(2)
    try:
        No_Of_Attributes_tags=driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]/p')
        for j in No_Of_Attributes_tags:
            No_Of_Attributes.append(j.text)
    except NoSuchElementException : #handling no such element exception
        No_Of_Attributes.append('--')

In [179]:
#Printing len
len(No_Of_Attributes)

623

In [181]:
#Displaying No of attributes
No_Of_Attributes[1:11]

['8 ', '14 ', '38 ', '294 ', '279 ', '7 ', ' ', '69 ', '8 ', '26 ']

In [182]:
#Creating empty list
Year=[]

#Extracting Year
for i in url:
    driver.get(i)
    time.sleep(2)
    try:
        Year_tags=driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]/p')
        for j in Year_tags:
            Year.append(j.text)
    except NoSuchElementException : #handling no such element exception
        Year.append('--')

In [183]:
#Printing len
len(Year)

623

In [186]:
#Displaying year
Year[1:11]

['1995 ',
 '1996 ',
 ' ',
 '1998 ',
 '1998 ',
 '1992 ',
 '1987 ',
 '1992 ',
 '1993 ',
 '1987 ']

In [189]:
#Making DataFrame
Datasets=pd.DataFrame()
Datasets['Dataset Name']=Dataset_Name[:10]
Datasets['Data Type']=Data_Type[1:11]
Datasets['Task']=Task[1:11]
Datasets['Attribute Type']=Attribute_Type[1:11]
Datasets['No Of Instances']=No_Of_Instances[1:11]
Datasets['No Of Attributes']=No_Of_Attributes[1:11]
Datasets['Year']=Year[1:11]
Datasets

,Dataset Name,Data Type,Task,Attribute Type,No Of Instances,No Of Attributes,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
5,Artificial Characters,Multivariate,Classification,"Categorical, Integer, Real",6000,7,1992
6,Audiology (Original),Multivariate,Classification,Categorical,226,,1987
7,Audiology (Standardized),Multivariate,Classification,Categorical,226,69,1992
8,Auto MPG,Multivariate,Regression,"Categorical, Real",398,8,1993
9,Automobile,Multivariate,Regression,"Categorical, Integer, Real",205,26,1987

In [190]:
#closing the driver
driver.close()