In [1]:
#importing libraries
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')
import time
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

# Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually

In [83]:
#Connecting to the driver
driver=webdriver.Chrome(r'C:\Users\Admin\Downloads\chromedriver_win32\chromedriver.exe')

#Maximizing the automated
driver.maximize_window()

#opening the naukri.com website on automated chrome window
url='https://www.naukri.com/'
driver.get(url)

In [84]:
#Finding web element for search job bar
search_job=driver.find_element(By.CLASS_NAME,"suggestor-input ")
search_job.send_keys('Data Analyst')
    
#Findind web element for search location bar
search_loc=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input')
search_loc.send_keys('Bangalore')
    
#Clicking using class name function
search_btn=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search_btn.click()

In [85]:
#Making empty dataframe
job_titles=[]
job_location=[]
company_name=[]
experience=[]
    
#Extracting Job Titles
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[:10]:
    job_titles.append(i.text)
    
#Extracting Job Locations
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft fs12 lh16 locWdth"]')
for i in location_tags[:10]:
    job_location.append(i.text)
    
#Extracting Company Names
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company_name.append(i.text)
    
#Extracting Experience Required
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft fs12 lh16 expwdth"]')
for i in experience_tags[0:10]:
    experience.append(i.text)
    
    
#Making Datframe
jobs=pd.DataFrame()
jobs['Job Titles']=job_titles
jobs['Job Location']=job_location
jobs['Company Name']=company_name
jobs['Experience']=experience
jobs

,Job Titles,Job Location,Company Name,Experience
0,Senior Data Analyst - PLM Data Migration,Bangalore/Bengaluru,CGI,3-6 Yrs
1,Data Analyst,Bangalore/Bengaluru,IBM,3-4 Yrs
2,Senior Data Analyst,"Hybrid - Bangalore/Bengaluru, Gurgaon/Gurugram",Groundtruth,5-8 Yrs
3,Lead Data Analyst,Bangalore/Bengaluru,Mobile Premier League (MPL),4-7 Yrs
4,Contractual Hiring For Top MNC || Business Dat...,Bangalore/Bengaluru,TeamLease,5-8 Yrs
5,Master Data Management Business Analyst,Bangalore/Bengaluru,Accenture,6-8 Yrs
6,Data Analyst,Bangalore/Bengaluru,Bsharp,1-3 Yrs
7,Sr. Data Analyst (SAS Data Management),"Bangalore/Bengaluru, New Delhi",NMS Consultant,5-10 Yrs
8,Lead Data Analyst,Bangalore/Bengaluru,SVB Global Services India Llp,8-13 Yrs
9,Data Analyst,Bangalore/Bengaluru,IBM,3-4 Yrs

In [ ]:
drive.close()

# Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [88]:
#Connecting to the driver
driver=webdriver.Chrome(r'C:\Users\Admin\Downloads\chromedriver_win32\chromedriver.exe')

#Maximizing the automated
driver.maximize_window()

#opening the naukri.com website on automated chrome window
url='https://www.naukri.com/'
driver.get(url)

In [89]:
#Finding web element for search job bar 
search_job=driver.find_element(By.CLASS_NAME,"suggestor-input ")
search_job.send_keys('Data Scientist')
    
#Findind web element for search location bar 
search_loc=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input')
search_loc.send_keys('Bangalore')
    
#Clicking using class name function
search_btn=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search_btn.click()

In [90]:
#Making empty dataframe 
job_titles=[]
job_location=[]
company_name=[]

#Extracting Job Titles
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[:10]:
    job_titles.append(i.text)
    
#Extracting Job Locations
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft fs12 lh16 locWdth"]')
for i in location_tags[:10]:
    job_location.append(i.text)
     
#Extracting Company Names 
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company_name.append(i.text)
    
#Making Datframe
jobs=pd.DataFrame()
jobs['Job Titles']=job_titles
jobs['Job Location']=job_location
jobs['Company Name']=company_name
jobs

,Job Titles,Job Location,Company Name
0,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
1,Senior Data Scientist,"Hybrid - Bangalore/Bengaluru, Pune, Chennai",Wipro
2,Assistant Manager - Data Science,"Hybrid - Bangalore/Bengaluru, Mumbai, Pune",Citiustech
3,Data Scientist,"Bangalore/Bengaluru, Hyderabad/Secunderabad, P...",Altair
4,Data Scientist,Bangalore/Bengaluru,Quest Global
5,ACN - Applied Intelligence - Data Scientist - 09,Bangalore/Bengaluru,Accenture
6,Data Scientist - 2,Bangalore/Bengaluru,24 7 ai
7,Data Scientist - Looking For Immediate Joiners,"Hybrid - Bangalore/Bengaluru, Hyderabad/Secund...",Wipro
8,Senior Data Scientist,"Bangalore/Bengaluru, Mumbai, New Delhi, Chennai",Boston Consulting Group
9,Data Scientist - II,"Bangalore/Bengaluru, India, Mumbai (All Areas)",Bizongo

In [ ]:
drive.close()

# Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data.

In [494]:
#Connecting to the driver
driver=webdriver.Chrome(r'C:\Users\Admin\Downloads\chromedriver_win32\chromedriver.exe')

#Maximizing the automated
driver.maximize_window()

#opening the naukri.com website on automated chrome window
url='https://www.naukri.com/'
driver.get(url)

In [495]:
#Finding web element for search job bar
search_job=driver.find_element(By.CLASS_NAME,"suggestor-input ")
search_job.send_keys('Data Scientist')

In [496]:
#Clicking using class name function
search_btn=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search_btn.click()

In [498]:
#Clicking on the location filter by using absolute xpath function
location=driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/section[1]/div[2]/div[5]/div[2]/div[2]/label/p/span[1]')
location.click()

In [499]:
#Clicking on the salary filter by using absolute xpath function
salary=driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/section[1]/div[2]/div[6]/div[2]/div[2]/label/p/span[1]')
salary.click()

In [500]:
#Making empty datasets
job_titles=[]
job_location=[]
company_name=[]
experience=[]

#Extracting Job titles
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[:10]:
    job_titles.append(i.text)
job_titles

#Extracting Job Locations
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft fs12 lh16 locWdth"]')
for i in location_tags[:10]:
    job_location.append(i.text)
job_location

#Extracting Comapany Names
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company_name.append(i.text)
company_name

#Extracting Experience Required
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft fs12 lh16 expwdth"]')
for i in experience_tags[0:10]:
    experience.append(i.text)
experience

#Making Datframe
jobs=pd.DataFrame()
jobs['Job Titles']=job_titles
jobs['Job Location']=job_location
jobs['Company Name']=company_name
jobs['Experience']=experience
jobs

,Job Titles,Job Location,Company Name,Experience
0,Data Scientist,"Noida, Hyderabad/Secunderabad, Chennai, Bangal...",HCLTech,4-9 Yrs
1,DigitalBCG GAMMA Data Scientist,"New Delhi, Bangalore/Bengaluru",Boston Consulting Group,2-5 Yrs
2,Urgent hiring For Data Scientist (PHD Must Have),"Temp. WFH - Noida, Pune",NGI Ventures,0-4 Yrs
3,Manager - Data Science - Banking&Financial Ser...,"Delhi / NCR, Bangalore/Bengaluru",Black Turtle,4-8 Yrs
4,Data Scientist,"Dehradun, Hyderabad/Secunderabad, Gurgaon/Guru...",torcai digital media,2-7 Yrs
5,Data Scientist,Noida,Meon Technologies,2-5 Yrs
6,Data Scientist,Noida,Alliance Recruitment Agency,3-4 Yrs
7,Data Specialist,Noida,RCPC,4-6 Yrs
8,Data scientist- Python,Gurgaon/Gurugram,TeamPlus Staffing Solution Pvt Ltd,3-6 Yrs
9,Data Scientist,New Delhi,Razor Group GmbH,2-3 Yrs

In [ ]:
drive.close()

# Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
The attributes which you have to scrape is ticked marked in the below image.
To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and
click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the
required data as usual.

In [26]:
#Connecting to the driver
driver=webdriver.Chrome(r'C:\Users\Admin\Downloads\chromedriver_win32\chromedriver.exe')

#Maximizing the automated
driver.maximize_window()

#opening the naukri.com website on automated chrome window
url='https://www.flipkart.com/'
driver.get(url)

#Login credential from popped up, so closing it by using class name function
close_btn=driver.find_element(By.XPATH,'/html/body/div[2]/div/div/button')
close_btn.click()

In [27]:
#Finding web element for searching bar
search_sunglasses=driver.find_element(By.CLASS_NAME,"_3704LK")
search_sunglasses.send_keys('sunglasses')

In [28]:
#Clicking using class name function
search_btn=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search_btn.click()

In [29]:
#Making Empty datasets
brand=[]
product_description=[]
price=[]

#Giving Page number start and end
start=0
end=3

#extracting brand names from from different pages 
for page in range(0,1):
    brand_names=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand_names:
        brand.append(i.text)

#extracting product description from from different pages         
for page in range(0,1):
    product_descr=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in product_descr:
        product_description.append(i.text)

#extracting prices from from different pages 
for page in range(0,1):
    price_sun=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in price_sun:
        price.append(i.text)

#clicking on next button to go on next page        
next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"] ')
next_button.click()

#Sleep time for the browser while loading the data
time.sleep(3)

#extracting brand names from from different pages 
for page in range(1,2):
    brand_names=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand_names:
        brand.append(i.text)

#extracting product description from from different pages         
for page in range(1,2):
    product_descr=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in product_descr:
        product_description.append(i.text)

#extracting prices from from different pages 
for page in range(1,2):
    price_sun=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in price_sun:
        price.append(i.text)

#clicking on next button to go on next page        
next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"] ')
next_button.click()

#Sleep time for the browser while loading the data
time.sleep(3)

#extracting brand names from from different pages 
for page in range(2,3):
    brand_names=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand_names:
        brand.append(i.text)

#extracting product description from from different pages         
for page in range(2,3):
    product_descr=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in product_descr:
        product_description.append(i.text)

#extracting prices from from different pages 
for page in range(2,3):
    price_sun=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in price_sun:
        price.append(i.text)

#Making DataFrame
Sunglasses=pd.DataFrame()
Sunglasses['Brand Name']=brand[:100]
Sunglasses['Product Description']=product_description[:100]
Sunglasses['Price']=price[:100]
Sunglasses

        Brand Name                                Product Description   Price
0   RESIST EYEWEAR  Polarized, Riding Glasses, UV Protection Wayfa...  ₹1,399
1           ARICKS  UV Protection, Polarized Rectangular Sunglasse...    ₹236
2         Fastrack      UV Protection Wayfarer Sunglasses (Free Size)    ₹649
3           PIRASO          UV Protection Rectangular Sunglasses (52)    ₹199
4           SUNBEE  UV Protection, Polarized Wayfarer Sunglasses (...    ₹283
..             ...                                                ...     ...
95          PIRASO             UV Protection Wayfarer Sunglasses (55)    ₹251
96       ROYAL SON     Polarized, UV Protection Round Sunglasses (55)    ₹664
97        PROVOGUE  Polarized, UV Protection Rectangular Sunglasse...    ₹664
98        Fastrack  Gradient, UV Protection Wayfarer Sunglasses (F...    ₹679
99          Sewell  Mirrored, Night Vision, UV Protection, Riding ...    ₹265

[100 rows x 3 columns]

In [ ]:
drive.close()

# Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:
https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC
TSVZAXUHGREPBFGI&marketplace.
When you will open the above link you will reach to the below shown webpage .
As shown in the above page you have to scrape the tick marked attributes.These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100 reviews.
Note: All the steps required during scraping should be done through code only and not manually.

In [527]:
#Connecting to the driver
driver=webdriver.Chrome(r'C:\Users\Admin\Downloads\chromedriver_win32\chromedriver.exe')

#Maximizing the automated
driver.maximize_window()

#opening the naukri.com website on automated chrome window
url='https://www.flipkart.com/apple-iphone-11-black-64-gb/p/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART&q=i+phone&store=tyy%2F4io&srno=s_1_1&otracker=search&otracker1=search&fm=organic&iid=12abeb08-0079-49d7-a541-1683fd28f409.MOBFWQ6BXGJCEYNY.SEARCH&ppt=None&ppn=None&ssid=zy38ebgqsw0000001667476486195&qH=8de575501391c29c'
driver.get(url)

In [528]:
#As only 3 reviews we can see, so clicking on all reviews button
all_reviews=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[9]/div[7]/div/a/div/span')
all_reviews.click()

In [529]:
#Making Empty datasets
rating=[]
review_summary=[]
full_review=[]

#extracting rating from page 1 
for page in range(0,1):
    rating_tags=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in rating_tags:
        rating.append(i.text)
        
#extracting review_summary from page 1
for page in range(0,1):
    review_tags=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in review_tags:
        review_summary.append(i.text)
        
#extracting full review from page 1
for page in range(0,1):
    full_tags=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for i in full_tags:
        full_review.append(i.text)
#clicking on next button to go on next page

next_button=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[2]')
next_button.click() 

#Sleep time for the browser while loading the data
time.sleep(3)

In [530]:
#extracting rating from page 2
for page in range(1,2):
    rating_tags=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in rating_tags:
        rating.append(i.text)
        
        
#extracting review_summary from page 2
for page in range(1,2):
    review_tags=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in review_tags:
        review_summary.append(i.text)
        
#extracting  full review  from page 2
for page in range(1,2):
    full_tags=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for i in full_tags:
        full_review.append(i.text)

In [256]:
#clicking on next button to go on next page        
next_button=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]/span')
next_button.click()

#Sleep time for the browser while loading the data
time.sleep(3)

In [257]:
#extracting rating from page 3
for page in range(2,3):
    rating_tags=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in rating_tags:
        rating.append(i.text)
        

#extracting review_summary from page 3
for page in range(2,3):
    review_tags=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in review_tags:
        review_summary.append(i.text)
        
#extracting  full review  from page 3
for page in range(2,3):
    full_tags=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for i in full_tags:
        full_review.append(i.text)

In [259]:
#clicking on next button to go on next page        
next_button=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[5]')
next_button.click()

#Sleep time for the browser while loading the data
time.sleep(3)

In [260]:
#extracting rating from page 4 
for page in range(3,4):
    rating_tags=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in rating_tags:
        rating.append(i.text)
        

#extracting review_summary from page 4
for page in range(3,4):
    review_tags=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in review_tags:
        review_summary.append(i.text)
        
#extracting  full review  from page 4
for page in range(3,4):
    full_tags=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for i in full_tags:
        full_review.append(i.text)

In [261]:
#clicking on next button to go on next page        
next_button=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[6]')
next_button.click()

#Sleep time for the browser while loading the data
time.sleep(3)

In [262]:
#extracting rating  from page 5 
for page in range(4,5):
    rating_tags=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in rating_tags:
        rating.append(i.text)
        
        
#extracting review_summary from page 5
for page in range(4,5):
    review_tags=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in review_tags:
        review_summary.append(i.text)
        
#extracting  full review  from page 5
for page in range(4,5):
    full_tags=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for i in full_tags:
        full_review.append(i.text)

In [263]:
#clicking on next button to go on next page        
next_button=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[7]')
next_button.click()

#Sleep time for the browser while loading the data
time.sleep(3)

In [264]:
#extracting rating  from page 6 
for page in range(5,6):
    rating_tags=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in rating_tags:
        rating.append(i.text)
        
        
#extracting review_summary from page 6
for page in range(5,6):
    review_tags=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in review_tags:
        review_summary.append(i.text)
        
#extracting full review  from page 6
for page in range(5,6):
    full_tags=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for i in full_tags:
        full_review.append(i.text)

In [265]:
#clicking on next button to go on next page        
next_button=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[7]')
next_button.click()

#Sleep time for the browser while loading the data
time.sleep(3)

In [266]:
#extracting rating  from page 7 
for page in range(6,7):
    rating_tags=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in rating_tags:
        rating.append(i.text)
        
        
#extracting review_summary from page 7
for page in range(6,7):
    review_tags=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in review_tags:
        review_summary.append(i.text)
        
#extracting full review  from page 7
for page in range(6,7):
    full_tags=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for i in full_tags:
        full_review.append(i.text)

In [267]:
#clicking on next button to go on next page        
next_button=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[7]')
next_button.click()

#Sleep time for the browser while loading the data
time.sleep(3)

In [268]:
#extracting rating  from page 8 
for page in range(7,8):
    rating_tags=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in rating_tags:
        rating.append(i.text)
        
        
#extracting review_summary from page 8
for page in range(7,8):
    review_tags=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in review_tags:
        review_summary.append(i.text)
        
#extracting  full review  from page 8
for page in range(7,8):
    full_tags=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for i in full_tags:
        full_review.append(i.text)

In [269]:
#clicking on next button to go on next page        
next_button=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[7]')
next_button.click()

#Sleep time for the browser while loading the data
time.sleep(3)

In [270]:
#extracting rating  from page 9
for page in range(8,9):
    rating_tags=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in rating_tags:
        rating.append(i.text)
        
        
#extracting review_summary from page 9
for page in range(8,9):
    review_tags=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in review_tags:
        review_summary.append(i.text)
        
#extracting  full review  from page 9
for page in range(8,9):
    full_tags=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for i in full_tags:
        full_review.append(i.text)

In [271]:
#clicking on next button to go on next page        
next_button=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[7]')
next_button.click()

#Sleep time for the browser while loading the data
time.sleep(3)

In [272]:
#extracting rating from page 10 
for page in range(9,10):
    rating_tags=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in rating_tags:
        rating.append(i.text)
        
        
#extracting review_summary from page 10
for page in range(9,10):
    review_tags=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in review_tags:
        review_summary.append(i.text)
        
#extracting full review from page 10
for page in range(9,10):
    full_tags=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for i in full_tags:
        full_review.append(i.text)

In [275]:
iphone=pd.DataFrame()
iphone['Rating']=rating[:100]
iphone['Review Summary']=review_summary[:100]
iphone['Full Review']=full_review[:100]
iphone

,Rating,Review Summary,Full Review
0,5,Simply awesome,Really satisfied with the Product I received.....
1,4,Value-for-money,I'm Really happy with the product\nDelivery wa...
2,5,Perfect product!,Amazing phone with great cameras and better ba...
3,5,Best in the market!,Great iPhone very snappy experience as apple k...
4,5,Highly recommended,What a camera .....just awesome ..you can feel...
...,...,...,...
95,5,Highly recommended,Thanks Flipkart For this amazing deal! I had a...
96,5,Brilliant,A wort full value for money decision it’s . Si...
97,5,Must buy!,Dear friends... I want to share my experience ...
98,5,Best in the market!,The best all rounder iphone. Flipkart is doing...
99,4,Brilliant,Amazing phone and on great deal I received wit...

In [ ]:
drive.close()


# Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the
search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price
As shown in the below image, you have to scrape the tick marked attributes.
Note: All the steps required during scraping should be done through code only and not manually.

In [91]:
#Connecting to the driver
driver=webdriver.Chrome(r'C:\Users\Admin\Downloads\chromedriver_win32\chromedriver.exe')

#Maximizing the automated
driver.maximize_window()

#opening the naukri.com website on automated chrome window
url='https://www.flipkart.com/'
driver.get(url)

#Login credential from popped up, so closing it by using class name function
close_btn=driver.find_element(By.XPATH,'/html/body/div[2]/div/div/button')
close_btn.click()

In [92]:
#Finding web element for searching bar
search_sneakers=driver.find_element(By.CLASS_NAME,"_3704LK")
search_sneakers.send_keys('sneakers')

In [93]:
#Clicking using class name function
search_btn=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search_btn.click()

In [94]:
#Making Empty datasets
brand=[]
product_description=[]
price=[]

#Giving Page number start and end
start=0
end=3

#extracting brand names from from different pages 
for page in range(0,1):
    brand_names=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand_names:
        brand.append(i.text)
        

#extracting product description from from different pages         
for page in range(0,1):
    product_descr=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in product_descr:
        product_description.append(i.text)

#extracting prices from from different pages 
for page in range(0,1):
    price_sun=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in price_sun:
        price.append(i.text)

#clicking on next button to go on next page        
next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
next_button.click()

#Sleep time for the browser while loading the data
time.sleep(3)

#extracting brand names from from different pages 
for page in range(1,2):
    brand_names=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand_names:
        brand.append(i.text)
        

#extracting product description from from different pages         
for page in range(1,2):
    product_descr=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in product_descr:
        product_description.append(i.text)

#extracting prices from from different pages 
for page in range(1,2):
    price_sun=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in price_sun:
        price.append(i.text)

#clicking on next button to go on next page        
next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
next_button.click()

#Sleep time for the browser while loading the data
time.sleep(3)

#extracting brand names from from different pages 
for page in range(2,3):
    brand_names=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand_names:
        brand.append(i.text)
        

#extracting product description from from different pages         
for page in range(2,3):
    product_descr=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in product_descr:
        product_description.append(i.text)

#extracting prices from from different pages 
for page in range(2,3):
    price_sun=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in price_sun:
        price.append(i.text)


#Making DataFrame
Sneakers=pd.DataFrame()
Sneakers['Brand Name']=brand[:100]
Sneakers['Product Description']=product_description[:100]
Sneakers['Price']=price[:100]
Sneakers

      Brand Name                                Product Description   Price
0           NXIN                Court Star Vulc FS Sneakers For Men    ₹379
1           PUMA                                   Sneakers For Men  ₹2,879
2       RED TAPE                                   Sneakers For Men  ₹1,249
3       RED TAPE                                   Sneakers For Men  ₹1,079
4         Labbin                           Trinity Sneakers For Men    ₹395
..           ...                                                ...     ...
95  Robbie jones                             Acrux Sneakers For Men    ₹329
96          PUMA  Mesh | Ultralightweight | Comfortable | Breath...  ₹2,063
97          PUMA                            Casual Sneakers For Men  ₹1,709
98      Magnolia  Original Luxury Branded Fashionable Men's Casu...    ₹299
99     Deals4you                                   Sneakers For Men    ₹389

[100 rows x 3 columns]

In [ ]:
drive.close()

# Q7: Go to the link - https://www.myntra.com/shoes
Set second Price filter and Color filter to “Black”, as shown in the below image.
And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe
description, price of the shoe as shown in the below image.
Note: Applying the filter and scraping the data, everything should be done through code only and there
should not be any manual step. : In Case, Inspect click don’t works, Please use ctrl+shift+c to inspect the element.

In [99]:
#Connecting to the driver
driver=webdriver.Chrome(r'C:\Users\Admin\Downloads\chromedriver_win32\chromedriver.exe')

#Maximizing the automated
driver.maximize_window()

#opening the naukri.com website on automated chrome window
url='https://www.myntra.com/shoes'
driver.get(url)

In [100]:
#Clicking on the color filter(black) by using absolute xpath function
color_filter=driver.find_element(By.XPATH,'/html/body/div[2]/div/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label')
color_filter.click()

In [101]:
#Clicking on the second price filter by using absolute xpath function
price_filter=driver.find_element(By.XPATH,'/html/body/div[2]/div/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label')
price_filter.click()

In [102]:
#Making Empty datasets
brand=[]
product_description=[]
price=[]

#Giving Page number start and end
start=0
end=2

#extracting brand names from from different pages 
for page in range(0,1):
    brand_names=driver.find_elements(By.XPATH,'//h3[@class="product-brand"]')
    for i in brand_names:
        brand.append(i.text)
        

#extracting product description from from different pages         
for page in range(0,1):
    product_descr=driver.find_elements(By.XPATH,'//h4[@class="product-product"]')
    for i in product_descr:
        product_description.append(i.text)

#extracting prices from from different pages 
for page in range(0,1):
    price_sun=driver.find_elements(By.XPATH,'//div[@class="product-price"]')
    for i in price_sun:
        price.append(i.text.split('|')[0])

#clicking on next button to go on next page        
next_button=driver.find_element(By.XPATH,'//li[@class="pagination-next"]')
next_button.click()

#Sleep time for the browser while loading the data
time.sleep(3)

#extracting brand names from from different pages 
for page in range(1,2):
    brand_names=driver.find_elements(By.XPATH,'//h3[@class="product-brand"]')
    for i in brand_names:
        brand.append(i.text)
        

#extracting product description from from different pages         
for page in range(1,2):
    product_descr=driver.find_elements(By.XPATH,'//h4[@class="product-product"]')
    for i in product_descr:
        product_description.append(i.text)

#extracting prices from from different pages 
for page in range(1,2):
    price_sun=driver.find_elements(By.XPATH,'//div[@class="product-price"]')
    for i in price_sun:
        price.append(i.text.split('|')[0])


#Making DataFrame
myntra_shoes=pd.DataFrame()
myntra_shoes['Brand Name']=brand[:100]
myntra_shoes['Product Description']=product_description[:100]
myntra_shoes['Price']=price[:100]
myntra_shoes

,Brand Name,Product Description,Price
0,Nike,JORDAN MAX AURA 4 Shoes,Rs. 10165Rs. 11295(10% OFF)
1,Puma,Eternity Nitro Running Shoes,Rs. 12999
2,Nike,JORDAN ZION 2 Basketball Shoes,Rs. 9175Rs. 10795(15% OFF)
3,UNDER ARMOUR,Men HOVR SonicSE Running Shoes,Rs. 9999
4,UNDER ARMOUR,Men ChargedEscape 3 BL Running,Rs. 8999
...,...,...,...
95,Nike,Men KD 15 Basketball Shoes,Rs. 11196Rs. 13995(20% OFF)
96,Bugatti,Men Walking Shoes,Rs. 9999
97,Louis Philippe,Men Leather Formal Slip-Ons,Rs. 7224Rs. 8499(15% OFF)
98,Bugatti,Men Textured Leather Sneakers,Rs. 11999
99,Nike,ZOOM FREAK 4 Basketball Shoes,Rs. 9600Rs. 11295(15% OFF)

In [ ]:
drive.close()

# Q8: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” as shown in the below image:
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:
1. Title
2. Ratings
3. Price
Note: All the steps required during scraping should be done through code only and not manually.

In [325]:
#Connecting to the driver
driver=webdriver.Chrome(r'C:\Users\Admin\Downloads\chromedriver_win32\chromedriver.exe')

#Maximizing the automated
driver.maximize_window()

#opening the amazon.in website on automated chrome window
url='https://www.amazon.in'
driver.get(url)

In [326]:
#Finding web element for searching bar
search_laptops=driver.find_element(By.ID,"twotabsearchtextbox")
search_laptops.send_keys('Laptop')

In [327]:
#Clicking using class name function
search_btn=driver.find_element(By.ID,"nav-search-submit-button")
search_btn.click()

In [329]:
#Clicking on the cpu filter(intel core i7) by using absolute xpath function
cpu_filter=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[5]/ul[5]/li[11]/span/a/span')
cpu_filter.click()

In [330]:
#Making empty dataset
title=[]
price=[]
ratings=[]

In [331]:
#Extracting titles
title_tags=driver.find_elements(By.XPATH,'//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]')
for i in title_tags:
    title.append(i.text)
    
#Extracting Price
price_tags=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in price_tags:
    price.append(i.text)

In [334]:
#locating Ratings
urls=driver.find_elements(By.XPATH,"//a[@class='a-link-normal a-text-normal']")#collecting urls of all the laptop
UR=[]
for i in urls[:10]:
    UR.append(i.get_attribute('href'))#getting the url of first 10 laptops
for url in UR:#loop for every laptop in the list
    driver.get(url)
    try: #exception handling for nosuchelementexception             
        rate=driver.find_element(By.XPATH,"//span[@id='acrCustomerReviewText']")
        rate.click()  #exception handling for nosuchelementexception  
        ratingss=driver.find_elements(By.XPATH,"//span[@class='a-size-medium a-color-base']")
        for j in ratingss:
            ratings.append(j.text)#appending the ratings
            
    except NoSuchElementException as e:
        ratings.append("NO rating")#appending the No rating if no rating is there

In [335]:
#Making Dataframe
laptops=pd.DataFrame()
laptops['Titles']=title[:10]
laptops['Price']=price[:10]
laptops['Ratings']=ratings[:10]
laptops

                                              Titles     Price       Ratings
0  Samsung Galaxy Book2 360 Intel 12th Gen i7 Evo...    97,990  3.9 out of 5
1  Samsung Galaxy Book2 Pro Intel 12th Gen i7 Evo...  1,03,490  4.3 out of 5
2  HP Pavilion x360 11th Gen Intel Core i7 14 inc...    80,490  2.1 out of 5
3  HP Pavilion Plus, 12th Gen Intel Core i7 16GB ...    93,999  4.1 out of 5
4  ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, I...    25,895  4.1 out of 5
5  (Renewed) HP ProBook 430 G3 6th Gen Intel Core...    83,990    4 out of 5
6  Lenovo IdeaPad Slim 5 12th Gen Intel Core i7 1...    84,918    4 out of 5
7  Dell Inspiron 5320 Laptop, i7-1260P, 16GB LPDD...    25,990  3.7 out of 5
8  (Renewed) HP Workstation Zbook Intel Core i7-4...  1,01,990  3.7 out of 5
9  Lenovo ThinkPad E14 Intel Core i7 12th Gen 14"...    86,490  3.4 out of 5

In [ ]:
drive.close()

# Q9: Write a python program to scrape data for Top 1000 Quotes of All Time.
 The above task will be done in following steps:
 1.First get the webpage https://www.azquotes.com/
 2. Click on Top Quotes
 3. Than scrap a) Quote b) Author c) Type Of Quote

In [103]:
#Connecting to the driver
driver=webdriver.Chrome(r'C:\Users\Admin\Downloads\chromedriver_win32\chromedriver.exe')

#Maximizing the automated
driver.maximize_window()

#opening the amazon.in website on automated chrome window
url='https://www.azquotes.com/'
driver.get(url)

In [104]:
top_quote_btn=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a')
top_quote_btn.click()

In [105]:
#Making empty dataframe
quote=[]
author=[]
type_of_quote=[]

#Giving Page number start and end
start=0
end=10

#extracting quotes from page 1 
for page in range(0,1):
    quote_tags=driver.find_elements(By.XPATH,'//a[@class="title"]')
    for i in quote_tags:
        quote.append(i.text)
        
#extracting authors from page 1
for page in range(0,1):
    author_tags=driver.find_elements(By.XPATH,'//div[@class="author"]')
    for i in author_tags:
        author.append(i.text)
        
#extracting type of quote from page 1
for page in range(0,1):
    type_tags=driver.find_elements(By.XPATH,'//div[@class="tags"]')
    for i in type_tags:
        type_of_quote.append(i.text)
        

#clicking on next button to go on next page        
next_button=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[12]')
next_button.click()

#Sleep time for the browser while loading the data
time.sleep(3)

#extracting quotes from page 2
for page in range(1,2):
    quote_tags=driver.find_elements(By.XPATH,'//a[@class="title"]')
    for i in quote_tags:
        quote.append(i.text)
        
#extracting authors from page 2
for page in range(1,2):
    author_tags=driver.find_elements(By.XPATH,'//div[@class="author"]')
    for i in author_tags:
        author.append(i.text)
        
#extracting type of quote  from page 2
for page in range(1,2):
    type_tags=driver.find_elements(By.XPATH,'//div[@class="tags"]')
    for i in type_tags:
        type_of_quote.append(i.text)
        

#clicking on next button to go on next page        
next_button=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[12]')
next_button.click()

#Sleep time for the browser while loading the data
time.sleep(3)

#extracting quotes from page 3 
for page in range(2,3):
    quote_tags=driver.find_elements(By.XPATH,'//a[@class="title"]')
    for i in quote_tags:
        quote.append(i.text)
        
#extracting authors from page 3
for page in range(2,3):
    author_tags=driver.find_elements(By.XPATH,'//div[@class="author"]')
    for i in author_tags:
        author.append(i.text)
        
#extracting type of quote  from page 3
for page in range(2,3):
    type_tags=driver.find_elements(By.XPATH,'//div[@class="tags"]')
    for i in type_tags:
        type_of_quote.append(i.text)
        
#clicking on next button to go on next page        
next_button=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[12]')
next_button.click()

#Sleep time for the browser while loading the data
time.sleep(3)

#extracting quotes from page 4 
for page in range(3,4):
    quote_tags=driver.find_elements(By.XPATH,'//a[@class="title"]')
    for i in quote_tags:
        quote.append(i.text)

#extracting authors from page 4
for page in range(3,4):
    author_tags=driver.find_elements(By.XPATH,'//div[@class="author"]')
    for i in author_tags:
        author.append(i.text)
        
#extracting type of quote  from page 4
for page in range(3,4):
    type_tags=driver.find_elements(By.XPATH,'//div[@class="tags"]')
    for i in type_tags:
        type_of_quote.append(i.text)
        
#clicking on next button to go on next page        
next_button=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[12]')
next_button.click()

#Sleep time for the browser while loading the data
time.sleep(3)

#extracting quotes  from page 5 
for page in range(4,5):
    quote_tags=driver.find_elements(By.XPATH,'//a[@class="title"]')
    for i in quote_tags:
        quote.append(i.text)
        
#extracting authors from page 5
for page in range(4,5):
    author_tags=driver.find_elements(By.XPATH,'//div[@class="author"]')
    for i in author_tags:
        author.append(i.text)
        
#extracting type of quote  from page 5
for page in range(4,5):
    type_tags=driver.find_elements(By.XPATH,'//div[@class="tags"]')
    for i in type_tags:
        type_of_quote.append(i.text)

#clicking on next button to go on next page        
next_button=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[12]')
next_button.click()

#Sleep time for the browser while loading the data
time.sleep(3)

#extracting quotes  from page 6 
for page in range(5,6):
    quote_tags=driver.find_elements(By.XPATH,'//a[@class="title"]')
    for i in quote_tags:
        quote.append(i.text)
        
#extracting authors from page 6
for page in range(5,6):
    author_tags=driver.find_elements(By.XPATH,'//div[@class="author"]')
    for i in author_tags:
        author.append(i.text)
        
#extracting type of quote  from page 6
for page in range(5,6):
    type_tags=driver.find_elements(By.XPATH,'//div[@class="tags"]')
    for i in type_tags:
        type_of_quote.append(i.text)

#clicking on next button to go on next page        
next_button=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[12]')
next_button.click()

#Sleep time for the browser while loading the data
time.sleep(3)

#extracting quotes  from page 7
for page in range(6,7):
    quote_tags=driver.find_elements(By.XPATH,'//a[@class="title"]')
    for i in quote_tags:
        quote.append(i.text)
        
#extracting authors from page 7
for page in range(6,7):
    author_tags=driver.find_elements(By.XPATH,'//div[@class="author"]')
    for i in author_tags:
        author.append(i.text)
        
#extracting type of quote  from page 7
for page in range(6,7):
    type_tags=driver.find_elements(By.XPATH,'//div[@class="tags"]')
    for i in type_tags:
        type_of_quote.append(i.text)

#clicking on next button to go on next page        
next_button=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[12]')
next_button.click()

#Sleep time for the browser while loading the data
time.sleep(3)

#extracting quotes from page 9 
for page in range(7,8):
    quote_tags=driver.find_elements(By.XPATH,'//a[@class="title"]')
    for i in quote_tags:
        quote.append(i.text)
        
#extracting authors from page 8
for page in range(7,8):
    author_tags=driver.find_elements(By.XPATH,'//div[@class="author"]')
    for i in author_tags:
        author.append(i.text)
        
#extracting type of quote  from page 8
for page in range(7,8):
    type_tags=driver.find_elements(By.XPATH,'//div[@class="tags"]')
    for i in type_tags:
        type_of_quote.append(i.text)

#clicking on next button to go on next page        
next_button=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[12]')
next_button.click()

#Sleep time for the browser while loading the data
time.sleep(3)

#extracting quotes from from page 9
for page in range(8,9):
    quote_tags=driver.find_elements(By.XPATH,'//a[@class="title"]')
    for i in quote_tags:
        quote.append(i.text)
        
#extracting authors from page 9
for page in range(8,9):
    author_tags=driver.find_elements(By.XPATH,'//div[@class="author"]')
    for i in author_tags:
        author.append(i.text)
        
#extracting type of quote  from page 9
for page in range(8,9):
    type_tags=driver.find_elements(By.XPATH,'//div[@class="tags"]')
    for i in type_tags:
        type_of_quote.append(i.text)

#clicking on next button to go on next page        
next_button=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[12]')
next_button.click()

#Sleep time for the browser while loading the data
time.sleep(3)

#extracting quotes from page 10
for page in range(9,10):
    quote_tags=driver.find_elements(By.XPATH,'//a[@class="title"]')
    for i in quote_tags:
        quote.append(i.text)
        
#extracting authors from page 10
for page in range(9,10):
    author_tags=driver.find_elements(By.XPATH,'//div[@class="author"]')
    for i in author_tags:
        author.append(i.text)
        
#extracting type of quote  from page 10
for page in range(9,10):
    type_tags=driver.find_elements(By.XPATH,'//div[@class="tags"]')
    for i in type_tags:
        type_of_quote.append(i.text)


#Making DataFrame
top_quotes=pd.DataFrame()
top_quotes['Quotes']=quote
top_quotes['Authors']=author
top_quotes['Type of Quotes']=type_of_quote
top_quotes

,Quotes,Authors,Type of Quotes
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
995,Regret for the things we did can be tempered b...,Sydney J. Harris,"Love, Inspirational, Motivational"
996,America... just a nation of two hundred millio...,Hunter S. Thompson,"Gun, Two, Qualms About"
997,For every disciplined effort there is a multip...,Jim Rohn,"Inspirational, Greatness, Best Effort"
998,"The spiritual journey is individual, highly pe...",Ram Dass,"Spiritual, Truth, Yoga"
999,"No matter how plain a woman may be, if truth a...",Eleanor Roosevelt,"Beauty, Beautiful, Truth"

In [ ]:
drive.close()

# Q10: Write s python program to display list of respected former Prime Ministers of India(i.e. Name, Born-Dead, Term of office, Remarks) from https://www.jagranjosh.com/.
This task will be done in following steps:
1. First get the webpage https://www.jagranjosh.com/
2. Then You have to click on the GK option
3. Then click on the List of all Prime Ministers of India
4. Then scrap the mentioned data and make the DataFrame.

In [531]:
#Connecting to the driver
driver=webdriver.Chrome(r'C:\Users\Admin\Downloads\chromedriver_win32\chromedriver.exe')

#Maximizing the automated
driver.maximize_window()

#opening the amazon.in website on automated chrome window
url='https://www.jagranjosh.com/'
driver.get(url)

In [532]:
#Clicking on GK option
gk_btn=driver.find_element(By.XPATH,'/html/body/div/div[1]/div/div[1]/div/div[6]/div/div[1]/header/div[3]/ul/li[9]/a')
gk_btn.click()

In [533]:
#Clicking on list of prime minister
list_primeministers=driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div[2]/div/div[10]/div/div/ul/li[2]/a')
list_primeministers.click()

In [534]:
#Making Empty datasets
prime_min=[]
born_dead=[]
term=[]
remarks=[]

In [535]:
#Extracting Name, born and dead year, term of office and remarks of first prime minister
prime=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[5]/span/div[2]/table/tbody/tr[2]')
for i in prime:
    prime_min.append(i.text.split('\n')[1])

date=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[5]/span/div[2]/table/tbody/tr[2]')
for i in date:
    born_dead.append(i.text.split('\n')[2])
    
terms=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[5]/span/div[2]/table/tbody/tr[2]')
for i in terms:
    term.append(i.text.split('\n')[3])
    
remark=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[5]/span/div[2]/table/tbody/tr[2]')
for i in remark:
    remarks.append(i.text.split('\n')[5])

In [536]:
#Extracting Name, born and dead year, term of office and remarks of 2nd prime minister
prime=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[5]/span/div[2]/table/tbody/tr[3]')
for i in prime:
    prime_min.append(i.text.split('\n')[1])
    
date=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[5]/span/div[2]/table/tbody/tr[3]')
for i in date:
    born_dead.append(i.text.split('\n')[2])
    
terms=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[5]/span/div[2]/table/tbody/tr[3]')
for i in terms:
    term.append(i.text.split('\n')[3])
    
remark=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[5]/span/div[2]/table/tbody/tr[3]')
for i in remark:
    remarks.append(i.text.split('\n')[5])

In [537]:
#Extracting Name, born and dead year, term of office and remarks of 3rd prime minister
prime=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[5]/span/div[2]/table/tbody/tr[4]')
for i in prime:
    prime_min.append(i.text.split('\n')[1])
    
date=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[5]/span/div[2]/table/tbody/tr[4]')
for i in date:
    born_dead.append(i.text.split('\n')[2])
    
terms=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[5]/span/div[2]/table/tbody/tr[4]')
for i in terms:
    term.append(i.text.split('\n')[3])
    
remark=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[5]/span/div[2]/table/tbody/tr[4]')
for i in remark:
    remarks.append(i.text.split('\n')[5])

In [538]:
#Extracting Name, born and dead year, term of office and remarks of 4th prime minister
prime=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[5]/span/div[2]/table/tbody/tr[5]')
for i in prime:
    prime_min.append(i.text.split('\n')[1])
    
date=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[5]/span/div[2]/table/tbody/tr[5]')
for i in date:
    born_dead.append(i.text.split('\n')[2])
    
terms=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[5]/span/div[2]/table/tbody/tr[5]')
for i in terms:
    term.append(i.text.split('\n')[3])
    
remark=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[5]/span/div[2]/table/tbody/tr[5]')
for i in remark:
    remarks.append(i.text.split('\n')[5])

In [539]:
#Extracting Name, born and dead year, term of office and remarks of 5th prime minister
prime=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[5]/span/div[2]/table/tbody/tr[6]')
for i in prime:
    prime_min.append(i.text.split('\n')[1])
    
date=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[5]/span/div[2]/table/tbody/tr[6]')
for i in date:
    born_dead.append(i.text.split('\n')[2])
    
terms=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[5]/span/div[2]/table/tbody/tr[6]')
for i in terms:
    term.append(i.text.split('\n')[3])
    
remark=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[5]/span/div[2]/table/tbody/tr[6]')
for i in remark:
    remarks.append(i.text.split('\n')[5])

In [540]:
#Extracting Name, born and dead year, term of office and remarks of 6th prime minister
prime=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[5]/span/div[2]/table/tbody/tr[7]')
for i in prime:
    prime_min.append(i.text.split('\n')[1])
    
date=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[5]/span/div[2]/table/tbody/tr[7]')
for i in date:
    born_dead.append(i.text.split('\n')[2])
    
terms=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[5]/span/div[2]/table/tbody/tr[7]')
for i in terms:
    term.append(i.text.split('\n')[3])
    
remark=drive.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[5]/span/div[2]/table/tbody/tr[7]')
for i in remark:
    remarks.append(i.text.split('\n')[5])

In [541]:
#Extracting Name, born and dead year, term of office and remarks of 7th prime minister
prime7=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[5]/span/div[2]/table/tbody/tr[8]')
for i in prime7:
    prime_min.append(i.text.split('\n')[1])
    
date1=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[5]/span/div[2]/table/tbody/tr[8]')
for i in date1:
    born_dead.append(i.text.split('\n')[2])
    
terms1=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[5]/span/div[2]/table/tbody/tr[8]')
for i in terms1:
    term.append(i.text.split('\n')[3])
    
remark1=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[5]/span/div[2]/table/tbody/tr[8]')
for i in remark1:
    remarks.append(i.text.split('\n')[5])

In [542]:
#Extracting Name, born and dead year, term of office and remarks of 8th prime minister
prime8=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[5]/span/div[2]/table/tbody/tr[9]')
for i in prime8:
    prime_min.append(i.text.split('\n')[1])
    
date1=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[5]/span/div[2]/table/tbody/tr[9]')
for i in date1:
    born_dead.append(i.text.split('\n')[2])
    
terms1=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[5]/span/div[2]/table/tbody/tr[9]')
for i in terms1:
    term.append(i.text.split('\n')[3])
    
remark1=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[5]/span/div[2]/table/tbody/tr[9]')
for i in remark1:
    remarks.append(i.text.split('\n')[5])

In [543]:
#Extracting Name, born and dead year, term of office and remarks of 9th prime minister
prime9=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[5]/span/div[2]/table/tbody/tr[10]')
for i in prime9:
    prime_min.append(i.text.split('\n')[1])
    
date1=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[5]/span/div[2]/table/tbody/tr[10]')
for i in date1:
    born_dead.append(i.text.split('\n')[2])
    
terms1=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[5]/span/div[2]/table/tbody/tr[10]')
for i in terms1:
    term.append(i.text.split('\n')[3])
    
remark1=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[5]/span/div[2]/table/tbody/tr[10]')
for i in remark1:
    remarks.append(i.text.split('\n')[5])

In [544]:
#Extracting Name, born and dead year, term of office and remarks of 10th prime minister
prime10=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[5]/span/div[2]/table/tbody/tr[11]')
for i in prime10:
    prime_min.append(i.text.split('\n')[1])
    
date1=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[5]/span/div[2]/table/tbody/tr[11]')
for i in date1:
    born_dead.append(i.text.split('\n')[2])
    
terms1=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[5]/span/div[2]/table/tbody/tr[11]')
for i in terms1:
    term.append(i.text.split('\n')[3])
    
remark1=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[5]/span/div[2]/table/tbody/tr[11]')
for i in remark1:
    remarks.append(i.text.split('\n')[5])

In [545]:
#Extracting Name, born and dead year, term of office and remarks of 11th prime minister
prime11=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[5]/span/div[2]/table/tbody/tr[12]')
for i in prime11:
    prime_min.append(i.text.split('\n')[1])
    
date1=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[5]/span/div[2]/table/tbody/tr[12]')
for i in date1:
    born_dead.append(i.text.split('\n')[2])
    
terms1=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[5]/span/div[2]/table/tbody/tr[12]')
for i in terms1:
    term.append(i.text.split('\n')[3])
    
remark1=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[5]/span/div[2]/table/tbody/tr[12]')
for i in remark1:
    remarks.append(i.text.split('\n')[5])

In [546]:
#Extracting Name, born and dead year, term of office and remarks of 12th prime minister
prime12=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[5]/span/div[2]/table/tbody/tr[13]')
for i in prime12:
    prime_min.append(i.text.split('\n')[1])
    
date1=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[5]/span/div[2]/table/tbody/tr[13]')
for i in date1:
    born_dead.append(i.text.split('\n')[2])
    
terms1=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[5]/span/div[2]/table/tbody/tr[13]')
for i in terms1:
    term.append(i.text.split('\n')[3])
    
remark1=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[5]/span/div[2]/table/tbody/tr[13]')
for i in remark1:
    remarks.append(i.text.split('\n')[5])

In [547]:
#Extracting Name, born and dead year, term of office and remarks of 13th prime minister
prime13=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[5]/span/div[2]/table/tbody/tr[14]')
for i in prime13:
    prime_min.append(i.text.split('\n')[1])
    
date1=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[5]/span/div[2]/table/tbody/tr[14]')
for i in date1:
    born_dead.append(i.text.split('\n')[2])
    
terms1=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[5]/span/div[2]/table/tbody/tr[14]')
for i in terms1:
    term.append(i.text.split('\n')[3])
    
remark1=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[5]/span/div[2]/table/tbody/tr[14]')
for i in remark1:
    remarks.append(i.text.split('\n')[5])

In [548]:
#Extracting Name, born and dead year, term of office and remarks of 14th prime minister
prime14=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[5]/span/div[2]/table/tbody/tr[15]')
for i in prime14:
    prime_min.append(i.text.split('\n')[1])
    
date1=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[5]/span/div[2]/table/tbody/tr[15]')
for i in date1:
    born_dead.append(i.text.split('\n')[2])
    
terms1=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[5]/span/div[2]/table/tbody/tr[15]')
for i in terms1:
    term.append(i.text.split('\n')[3])
    
remark1=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[5]/span/div[2]/table/tbody/tr[15]')
for i in remark1:
    remarks.append(i.text.split('\n')[5])

In [549]:
#Extracting Name, born and dead year, term of office and remarks of 15th prime minister
prime15=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[5]/span/div[2]/table/tbody/tr[16]')
for i in prime15:
    prime_min.append(i.text.split('\n')[1])
    
date1=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[5]/span/div[2]/table/tbody/tr[16]')
for i in date1:
    born_dead.append(i.text.split('\n')[2])
    
terms1=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[5]/span/div[2]/table/tbody/tr[16]')
for i in terms1:
    term.append(i.text.split('\n')[3])
    
remark1=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[5]/span/div[2]/table/tbody/tr[16]')
for i in remark1:
    remarks.append(i.text.split('\n')[5])

In [550]:
#Extracting Name, born and dead year, term of office and remarks of 16th prime minister
prime16=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[5]/span/div[2]/table/tbody/tr[17]')
for i in prime16:
    prime_min.append(i.text.split('\n')[1])
    
date1=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[5]/span/div[2]/table/tbody/tr[17]')
for i in date1:
    born_dead.append(i.text.split('\n')[2])
    
terms1=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[5]/span/div[2]/table/tbody/tr[17]')
for i in terms1:
    term.append(i.text.split('\n')[3])
    
remark1=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[5]/span/div[2]/table/tbody/tr[17]')
for i in remark1:
    remarks.append(i.text.split('\n')[5])

In [551]:
#Extracting Name, born and dead year, term of office and remarks of 17th prime minister
prime17=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[5]/span/div[2]/table/tbody/tr[18]')
for i in prime17:
    prime_min.append(i.text.split('\n')[1])
    
date1=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[5]/span/div[2]/table/tbody/tr[18]')
for i in date1:
    born_dead.append(i.text.split('\n')[2])
    
terms1=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[5]/span/div[2]/table/tbody/tr[18]')
for i in terms1:
    term.append(i.text.split('\n')[3])
    
remark1=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[5]/span/div[2]/table/tbody/tr[18]')
for i in remark1:
    remarks.append(i.text.split('\n')[5])

In [552]:
#Extracting Name, born and dead year, term of office and remarks of 18th prime minister
prime17=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[5]/span/div[2]/table/tbody/tr[19]')
for i in prime17:
    prime_min.append(i.text.split('\n')[1])
    
date1=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[5]/span/div[2]/table/tbody/tr[19]')
for i in date1:
    born_dead.append(i.text.split('\n')[2])
    
terms1=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[5]/span/div[2]/table/tbody/tr[19]')
for i in terms1:
    term.append(i.text.split('\n')[3])
    
remark1=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[5]/span/div[2]/table/tbody/tr[19]')
for i in remark1:
    remarks.append(i.text.split('\n')[4])

In [554]:
#Making Dataframe
abc=pd.DataFrame()
abc['Name']=prime_min
abc['Born-Dead']=born_dead
abc['Term']=term
abc['Remarks']=remarks
abc

,Name,Born-Dead,Term,Remarks
0,Jawahar Lal Nehru,(1889–1964),15 August 1947 to 27 May 1964,The first prime minister of India and the long...
1,Gulzarilal Nanda (Acting),(1898-1998),"27 May 1964 to 9 June 1964,",First acting PM of India
2,Lal Bahadur Shastri,(1904–1966),9 June 1964 to 11 January 1966,He has given the slogan of 'Jai Jawan Jai Kisa...
3,Gulzari Lal Nanda (Acting),(1898-1998),11 January 1966 to 24 January 1966,-
4,Indira Gandhi,(1917–1984),24 January 1966 to 24 March 1977,First female Prime Minister of India
5,Morarji Desai,(1896–1995),24 March 1977 to 28 July 1979,Oldest to become PM (81 years old) and first t...
6,Charan Singh,(1902–1987),28 July 1979 to 14 January 1980,Only PM who did not face the Parliament
7,Indira Gandhi,(1917–1984),14 January 1980 to 31 October 1984,The first lady who served as PM for the second...
8,Rajiv Gandhi,(1944–1991),31 October 1984 to 2 December 1989,Youngest to become PM (40 years old)
9,V. P. Singh,(1931–2008),2 December 1989 to 10 November 1990,First PM to step down after a vote of no confi...
10,Chandra Shekhar,(1927–2007),10 November 1990 to 21 June 1991,He belongs to Samajwadi Janata Party
11,P. V. Narasimha Rao,(1921–2004),21 June 1991 to 16 May 1996,First PM from south India
12,Atal Bihari Vajpayee,(1924- 2018),16 May 1996 to 1 June 1996,PM for shortest tenure
13,H. D. Deve Gowda,(born 1933),1 June 1996 to 21 April 1997,He belongs to Janata Dal
14,Inder Kumar Gujral,(1919–2012),21 April 1997 to 19 March 1998,------
15,Atal Bihari Vajpayee,(1924-2018),19 March 1998 to 22 May 2004,The first non-congress PM who completed a ful...
16,Manmohan Singh,(born 1932),22 May 2004 to 26 May 2014,First Sikh PM
17,Narendra Modi,(born 1950),26 May 2014 - Present,4th Prime Minister of India who served two con...

In [ ]:
drive.close()

# Q11: Write s python program to display list of 50 Most expensive cars in the world (i.e. Company name, Model 
name and Price) from https://www.motor1.com/
This task will be done in following steps:
1. First get the webpage https://www.motor1.com/
2. Then You have to click on the List option from Dropdown menu on left side.
3. Then click on 50 most expensive cars in the world..
4. Then scrap the mentioned data and make the

In [579]:
#Connecting to the driver
driver=webdriver.Chrome(r'C:\Users\Admin\Downloads\chromedriver_win32\chromedriver.exe')

#Maximizing the automated
driver.maximize_window()

#opening the amazon.in website on automated chrome window
url='https://www.motor1.com/'
driver.get(url)

In [580]:
#Clicking on dropdown menu
dropdown=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div/div/div[1]/div')
dropdown.click()

In [581]:
#Clicking on list
list_btn=driver.find_element(By.XPATH,'/html/body/div[3]/div[1]/div[3]/ul/li[4]/a')
list_btn.click()

In [582]:
#Clicking on expensive car
expensive_car=driver.find_element(By.XPATH,'/html/body/div[2]/div[9]/div[1]/div[1]/div/div/div[1]/div/div[1]/h3/a')
expensive_car.click()

In [583]:
#Making empty datasets
name=[]
price=[]

In [584]:
#Extracting Model and company names
name_tags=driver.find_elements(By.XPATH,'//h3[@class="subheader"]')
for i in name_tags:
    name.append(i.text)

In [585]:
#Extracting Prices
price_tags2=driver.find_elements(By.XPATH,'//*[@id="article_box"]/div[1]/div[2]/div[1]/p[4]/strong')
for i in price_tags2:
    price.append(i.text)
price_tags=driver.find_elements(By.XPATH,'//*[@id="article_box"]/div[1]/div[2]/div[1]/p[6]/strong')
for i in price_tags:
    price.append(i.text)
price_tags=driver.find_elements(By.XPATH,'//*[@id="article_box"]/div[1]/div[2]/div[1]/p[8]/strong')
for i in price_tags:
    price.append(i.text)
price_tags=driver.find_elements(By.XPATH,'//*[@id="article_box"]/div[1]/div[2]/div[1]/p[10]/strong')
for i in price_tags:
    price.append(i.text)
price_tags=driver.find_elements(By.XPATH,'//*[@id="article_box"]/div[1]/div[2]/div[1]/p[12]/strong')
for i in price_tags:
    price.append(i.text)
price_tags=driver.find_elements(By.XPATH,'//*[@id="article_box"]/div[1]/div[2]/div[1]/p[14]/strong')
for i in price_tags:
    price.append(i.text)
price_tags=driver.find_elements(By.XPATH,'//*[@id="article_box"]/div[1]/div[2]/div[1]/p[16]/strong')
for i in price_tags:
    price.append(i.text)
price_tags=driver.find_elements(By.XPATH,'//*[@id="article_box"]/div[1]/div[2]/div[1]/p[18]/strong')
for i in price_tags:
    price.append(i.text)
price_tags=driver.find_elements(By.XPATH,'//*[@id="article_box"]/div[1]/div[2]/div[1]/p[20]/strong')
for i in price_tags:
    price.append(i.text)
price_tags=driver.find_elements(By.XPATH,'//*[@id="article_box"]/div[1]/div[2]/div[1]/p[22]/strong')
for i in price_tags:
    price.append(i.text)
price_tags=driver.find_elements(By.XPATH,'//*[@id="article_box"]/div[1]/div[2]/div[1]/p[24]/strong')
for i in price_tags:
    price.append(i.text)
price_tags=driver.find_elements(By.XPATH,'//*[@id="article_box"]/div[1]/div[2]/div[1]/p[26]/strong')
for i in price_tags:
    price.append(i.text)
price_tags=driver.find_elements(By.XPATH,'//*[@id="article_box"]/div[1]/div[2]/div[1]/p[28]/strong')
for i in price_tags:
    price.append(i.text)
price_tags=driver.find_elements(By.XPATH,'//*[@id="article_box"]/div[1]/div[2]/div[1]/p[30]/strong')
for i in price_tags:
    price.append(i.text)
price_tags=driver.find_elements(By.XPATH,'//*[@id="article_box"]/div[1]/div[2]/div[1]/p[32]/strong')
for i in price_tags:
    price.append(i.text)
price_tags=driver.find_elements(By.XPATH,'//*[@id="article_box"]/div[1]/div[2]/div[1]/p[34]/strong')
for i in price_tags:
    price.append(i.text)
price_tags=driver.find_elements(By.XPATH,'//*[@id="article_box"]/div[1]/div[2]/div[1]/p[36]/strong')
for i in price_tags:
    price.append(i.text)
price_tags=driver.find_elements(By.XPATH,'//*[@id="article_box"]/div[1]/div[2]/div[1]/p[38]/strong')
for i in price_tags:
    price.append(i.text)
price_tags=driver.find_elements(By.XPATH,'//*[@id="article_box"]/div[1]/div[2]/div[1]/p[40]/strong')
for i in price_tags:
    price.append(i.text)
price_tags=driver.find_elements(By.XPATH,'//*[@id="article_box"]/div[1]/div[2]/div[1]/p[42]/strong')
for i in price_tags:
    price.append(i.text)
price_tags=driver.find_elements(By.XPATH,'//*[@id="article_box"]/div[1]/div[2]/div[1]/p[44]/strong')
for i in price_tags:
    price.append(i.text)
price_tags=driver.find_elements(By.XPATH,'//*[@id="article_box"]/div[1]/div[2]/div[1]/p[46]/strong')
for i in price_tags:
    price.append(i.text)
price_tags=driver.find_elements(By.XPATH,'//*[@id="article_box"]/div[1]/div[2]/div[1]/p[48]/strong')
for i in price_tags:
    price.append(i.text)
price_tags=driver.find_elements(By.XPATH,'//*[@id="article_box"]/div[1]/div[2]/div[1]/p[50]/strong')
for i in price_tags:
    price.append(i.text)
price_tags=driver.find_elements(By.XPATH,'//*[@id="article_box"]/div[1]/div[2]/div[1]/p[52]/strong')
for i in price_tags:
    price.append(i.text)
price_tags=driver.find_elements(By.XPATH,'//*[@id="article_box"]/div[1]/div[2]/div[1]/p[54]/strong')
for i in price_tags:
    price.append(i.text)
price_tags=driver.find_elements(By.XPATH,'//*[@id="article_box"]/div[1]/div[2]/div[1]/p[56]/strong')
for i in price_tags:
    price.append(i.text)
price_tags=driver.find_elements(By.XPATH,'//*[@id="article_box"]/div[1]/div[2]/div[1]/p[58]/strong')
for i in price_tags:
    price.append(i.text)
price_tags=driver.find_elements(By.XPATH,'//*[@id="article_box"]/div[1]/div[2]/div[1]/p[60]/strong')
for i in price_tags:
    price.append(i.text)
price_tags=driver.find_elements(By.XPATH,'//*[@id="article_box"]/div[1]/div[2]/div[1]/p[62]/strong')
for i in price_tags:
    price.append(i.text)
price_tags=driver.find_elements(By.XPATH,'//*[@id="article_box"]/div[1]/div[2]/div[1]/p[64]/strong')
for i in price_tags:
    price.append(i.text)
price_tags=driver.find_elements(By.XPATH,'//*[@id="article_box"]/div[1]/div[2]/div[1]/p[66]/strong')
for i in price_tags:
    price.append(i.text)
price_tags=driver.find_elements(By.XPATH,'//*[@id="article_box"]/div[1]/div[2]/div[1]/p[68]/strong')
for i in price_tags:
    price.append(i.text)
price_tags=driver.find_elements(By.XPATH,'//*[@id="article_box"]/div[1]/div[2]/div[1]/p[70]/strong')
for i in price_tags:
    price.append(i.text)
price_tags=driver.find_elements(By.XPATH,'//*[@id="article_box"]/div[1]/div[2]/div[1]/p[72]/strong')
for i in price_tags:
    price.append(i.text)
price_tags=driver.find_elements(By.XPATH,'//*[@id="article_box"]/div[1]/div[2]/div[1]/p[74]/strong')
for i in price_tags:
    price.append(i.text)
price_tags=driver.find_elements(By.XPATH,'//*[@id="article_box"]/div[1]/div[2]/div[1]/p[76]/strong')
for i in price_tags:
    price.append(i.text)
price_tags=driver.find_elements(By.XPATH,'//*[@id="article_box"]/div[1]/div[2]/div[1]/p[78]/strong')
for i in price_tags:
    price.append(i.text)
price_tags=driver.find_elements(By.XPATH,'//*[@id="article_box"]/div[1]/div[2]/div[1]/p[80]/strong')
for i in price_tags:
    price.append(i.text)
price_tags=driver.find_elements(By.XPATH,'//*[@id="article_box"]/div[1]/div[2]/div[1]/p[82]/strong')
for i in price_tags:
    price.append(i.text)
price_tags=driver.find_elements(By.XPATH,'//*[@id="article_box"]/div[1]/div[2]/div[1]/p[84]/strong')
for i in price_tags:
    price.append(i.text)
price_tags=driver.find_elements(By.XPATH,'//*[@id="article_box"]/div[1]/div[2]/div[1]/p[86]/strong')
for i in price_tags:
    price.append(i.text)
price_tags=driver.find_elements(By.XPATH,'//*[@id="article_box"]/div[1]/div[2]/div[1]/p[88]/strong')
for i in price_tags:
    price.append(i.text)
price_tags=driver.find_elements(By.XPATH,'//*[@id="article_box"]/div[1]/div[2]/div[1]/p[90]/strong')
for i in price_tags:
    price.append(i.text)
price_tags=driver.find_elements(By.XPATH,'//*[@id="article_box"]/div[1]/div[2]/div[1]/p[92]/strong')
for i in price_tags:
    price.append(i.text)
price_tags=driver.find_elements(By.XPATH,'//*[@id="article_box"]/div[1]/div[2]/div[1]/p[94]/strong')
for i in price_tags:
    price.append(i.text)
price_tags=driver.find_elements(By.XPATH,'//*[@id="article_box"]/div[1]/div[2]/div[1]/p[96]/strong')
for i in price_tags:
    price.append(i.text)
price_tags=driver.find_elements(By.XPATH,'//*[@id="article_box"]/div[1]/div[2]/div[1]/p[98]/strong')
for i in price_tags:
    price.append(i.text)
price_tags=driver.find_elements(By.XPATH,'//*[@id="article_box"]/div[1]/div[2]/div[1]/p[100]/strong')
for i in price_tags:
    price.append(i.text)
price_tags=driver.find_elements(By.XPATH,'//*[@id="article_box"]/div[1]/div[2]/div[1]/p[102]/strong')
for i in price_tags:
    price.append(i.text)

In [588]:
#Making Dataframe
cars=pd.DataFrame()
cars['Company and Model Name']=name[:50]
cars['Prices']=price
cars

             Company and Model Name                       Prices
0                         Drako GTE          Price: $1.2 Million
1                     De Tomaso P72          Price: $1.3 Million
2                 Ferrari LaFerrari          Price: $1.4 Million
3                     Pagani Huayra          Price: $1.4 Million
4                      McLaren Elva          Price: $1.7 Million
5                       Czinger 21C          Price: $1.7 Million
6                     Ferrari Monza          Price: $1.7 Million
7                Gordon Murray T.33          Price: $1.7 Million
8                 Koenigsegg Gemera          Price: $1.7 Million
9                       Zenvo TSR-S          Price: $1.7 Million
10               Hennessey Venom F5          Price: $1.8 Million
11                  Bentley Bacalar          Price: $1.9 Million
12    Hispano Suiza Carmen Boulogne          Price: $1.9 Million
13           Bentley Mulliner Batur          Price: $2.0 Million
14                     Deus Vayanne          Price: $2.0 Million
15                      SSC Tuatara         Price: $2.0 Million*
16                      Lotus Evija          Price: $2.1 Million
17              Aston Martin Vulcan          Price: $2.3 Million
18                       Delage D12          Price: $2.3 Million
19                McLaren Speedtail          Price: $2.3 Million
20                     Rimac Nevera          Price: $2.4 Million
21                    Pagani Utopia          Price: $2.5 Million
22             Pininfarina Battista          Price: $2.5 Million
23                Ferrari FXX K Evo          Price: $2.6 Million
24               Gordon Murray T.50          Price: $2.6 Million
25             Lamborghini Countach          Price: $2.6 Million
26         Mercedes-AMG Project One          Price: $2.7 Million
27              Aston Martin Victor          Price: $3.0 Million
28      Hennessey Venom F5 Roadster                 $3.0 Million
29                 Koenigsegg Jesko          Price: $3.0 Million
30            Aston Martin Valkyrie          Price: $3.2 Million
31        W Motors Lykan Hypersport          Price: $3.4 Million
32                    McLaren Solus                 $3.5 Million
33        Pagani Huayra Roadster BC          Price: $3.5 Million
34         Bugatti Chiron Pur Sport          Price: $3.6 Million
35                 Lamborghini Sian          Price: $3.6 million
36                 Koenigsegg CC850          Price: $3.7 Million
37  Bugatti Chiron Super Sport 300+          Price: $3.9 Million
38               Lamborghini Veneno          Price: $4.5 Million
39                   Bugatti Bolide          Price: $4.7 Million
40                  Bugatti Mistral          Price: $5.0 Million
41              Pagani Huayra Imola          Price: $5.4 Million
42                     Bugatti Divo          Price: $5.8 Million
43              SP Automotive Chaos          Price: $6.4 Million
44                 Pagani Codalunga          Price: $7.4 Million
45         Mercedes-Maybach Exelero          Price: $8.0 Million
46               Bugatti Centodieci          Price: $9.0 Million
47             Rolls-Royce Sweptail         Price: $12.8 Million
48         Bugatti La Voiture Noire         Price: $13.4 Million
49           Rolls-Royce Boat Tail*  Price: $28.0 Million (est.)

In [ ]:
drive.close()